{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
	'map-menu'
  ]
%}

{% if language == 'fr' %}
    {% set stateLabel = "Etat" %}
	{% set pressureLabel = "Pression" %}
	{% set responseLabel = "Réponse" %}
	{% set globalLabel = "Globale" %}
	{% set regionalLabel = "Régionale" %}
	{% set nationalLabel = "Nationale" %}
	{% set localLabel = "Locale" %}
	{% set policiesLabel = "Politiques" %}
{% else %}
	{% set stateLabel = "State" %}
	{% set pressureLabel = "Pressure" %}
	{% set responseLabel = "Response" %}
	{% set globalLabel = "Global" %}
	{% set regionalLabel = "Regional" %}
	{% set nationalLabel = "National" %}
	{% set localLabel = "Local" %}
	{% set policiesLabel = "Policies" %}
{% endif %}

<div{{ attributes.addClass(classes) }}>
    <h2 class='menu-title'>{{label}}</h2>
	<div id="indicator-target"></div>
	<div id="menu-scope-tabs">
	  <ul class="menu-scope-list">
		<li class="ui-tabs-tab ui-tab state-trigger">{{ stateLabel }}</li>
		<li class="ui-tabs-tab ui-tab pressure-trigger">{{ pressureLabel }}</li>
		<li class="ui-tabs-tab ui-tab ui-tabs-active">{{ responseLabel }}</li>
		<li class="ui-tabs-tab ui-tab menu-tab-list list-trigger"><i class="fas fa-search"></i><span class="hidden">List</span></li>
	  </ul>
	  <div id="response-tab" class="menu-tab">
	    <div id="map-menu">
		  <div class="scope-icon-title global-trigger">
			<div class="scope-image">
			<svg version="1.1" viewBox="0 0 72.99 51.29" xmlns="http://www.w3.org/2000/svg">
 <defs>
  <style>.cls-1{fill:#679b95;}.cls-2{fill:#8fbf4b;}</style>
 </defs>
 <g id="biopama-green">
  <path class="cls-2" d="m52.94 42.63a18.54 18.54 0 0 0 0-19.91 18 18 0 0 0-1.4-1.94c-0.27-0.36-0.57-0.69-0.87-1l-0.26-0.23-0.24-0.26q-0.48-0.45-1-0.87a19 19 0 0 0-1.93-1.4 18.54 18.54 0 0 0-19.91 0 18 18 0 0 0-1.94 1.4c-0.36 0.28-0.69 0.57-1 0.87a3 3 0 0 0-0.24 0.26l-0.26 0.23c-0.3 0.33-0.6 0.66-0.87 1a19.06 19.06 0 0 0-1.41 1.93 18.48 18.48 0 0 0 0 19.91 19.06 19.06 0 0 0 1.41 1.93c0.27 0.36 0.57 0.69 0.87 1l0.26 0.23a3 3 0 0 0 0.24 0.26c0.33 0.3 0.66 0.59 1 0.87a18 18 0 0 0 1.94 1.4 18.54 18.54 0 0 0 19.91 0 19 19 0 0 0 1.91-1.31q0.54-0.42 1-0.87l0.24-0.26 0.26-0.23c0.3-0.33 0.6-0.66 0.87-1a18 18 0 0 0 1.42-2.01zm-3.17 2.56a16.36 16.36 0 0 1-1.63 1.34c0.31-0.69 0.59-1.4 0.85-2.13 0.72-0.26 1.43-0.53 2.12-0.84a16.12 16.12 0 0 1-1.34 1.63zm-25.1 0a14.88 14.88 0 0 1-1.34-1.63c0.68 0.31 1.39 0.59 2.12 0.84 0.26 0.73 0.54 1.44 0.85 2.13a15.29 15.29 0 0 1-1.63-1.34zm0-25.11a15.29 15.29 0 0 1 1.63-1.34c-0.31 0.69-0.59 1.4-0.85 2.13-0.73 0.25-1.44 0.53-2.12 0.84a14.88 14.88 0 0 1 1.34-1.63zm25.1 0a16.12 16.12 0 0 1 1.34 1.63c-0.69-0.31-1.4-0.58-2.12-0.84-0.26-0.73-0.54-1.44-0.85-2.13a16.36 16.36 0 0 1 1.63 1.34zm-18.87 24.79c-0.21-1.5-0.38-2.95-0.51-4.36 1.24 0.1 2.46 0.18 3.67 0.22 0.06 1.52 0.14 3 0.22 4.56-1.14-0.09-2.28-0.23-3.38-0.42zm3.43 1.35c0.08 1.15 0.17 2.29 0.26 3.43a20 20 0 0 1-3-0.61c-0.19-1.09-0.36-2.16-0.51-3.2 1.04 0.16 2.15 0.3 3.25 0.38zm-14.33-13.58c0-0.57 0-1.13 0.08-1.68 1.15-0.09 2.3-0.19 3.46-0.26q-0.09 1.93 0 3.87c-1.16-0.07-2.31-0.16-3.46-0.26-0.03-0.55-0.08-1.11-0.08-1.67zm4.47-2c1.53-0.09 3.06-0.17 4.59-0.22q-0.06 2.2 0 4.41c-1.53-0.05-3.06-0.13-4.59-0.22a37.55 37.55 0 0 1 0.02-3.96zm9.81-10.64c-0.08 1.52-0.16 3-0.22 4.56-1.21 0-2.43 0.12-3.67 0.22 0.13-1.41 0.3-2.86 0.51-4.36 1.1-0.21 2.24-0.35 3.38-0.42zm-3.28-0.57c0.15-1 0.32-2.11 0.51-3.2a20 20 0 0 1 3-0.61c-0.09 1.14-0.18 2.28-0.26 3.43-1.02 0.08-2.13 0.2-3.25 0.38zm23.41 13.21c0 0.56 0 1.12-0.07 1.67-1.15 0.1-2.31 0.19-3.46 0.26q0.09-1.93 0-3.87c1.15 0.07 2.31 0.17 3.46 0.26 0.04 0.55 0.07 1.11 0.07 1.68zm-4.47 2c-1.52 0.09-3 0.17-4.59 0.22q0.07-2.21 0-4.41c1.54 0.05 3.07 0.13 4.59 0.22a37.55 37.55 0 0 1 0 3.95zm-19.94-4.24c1.3 0 2.6-0.08 3.9-0.1v4.67c-1.3 0-2.6 0-3.9-0.1q0-2.23 0-4.47zm9.52-1h-4.67c0-1.3 0.06-2.6 0.1-3.9 1.49-0.05 3-0.05 4.48 0q0.09 1.9 0.12 3.85zm0.85-3.87c1.23 0.05 2.47 0.13 3.73 0.24 0.11 1.26 0.19 2.5 0.24 3.73q-1.93-0.06-3.87-0.09c0.01-1.35-0.03-2.64-0.07-3.93zm-0.81 9.47h-4.69v-4.69h4.69c0.02 1.54 0.02 3.11 0 4.69zm-5.62-5.62q-1.94 0-3.87 0.09c0.05-1.23 0.12-2.47 0.23-3.73 1.26-0.11 2.51-0.19 3.73-0.24-0.03 1.27-0.03 2.56-0.09 3.86zm0 6.55c0 1.3 0.05 2.59 0.09 3.88-1.22 0-2.47-0.13-3.73-0.24-0.11-1.26-0.18-2.5-0.23-3.73q1.93 0.04 3.87 0.07zm0.94 0h2.34 2.33q0 1.95-0.09 3.9h-4.48c-0.04-1.31-0.08-2.61-0.1-3.91zm5.62 0q1.94 0 3.87-0.09c0 1.23-0.13 2.47-0.24 3.73-1.26 0.11-2.5 0.19-3.73 0.24 0.04-1.31 0.08-2.6 0.1-3.9zm0-0.94v-4.67c1.3 0 2.6 0.05 3.9 0.1q0.06 2.24 0 4.47c-1.29 0.03-2.59 0.11-3.89 0.11zm4.81-5.49c0-1.21-0.13-2.43-0.23-3.68 1.42 0.14 2.86 0.31 4.36 0.52 0.2 1.11 0.33 2.24 0.42 3.38-1.51-0.11-3.02-0.18-4.54-0.24zm-0.31-4.65c-0.14-1.38-0.3-2.8-0.5-4.25a30.23 30.23 0 0 1 3.74 1 34 34 0 0 1 1 3.73c-1.44-0.19-2.85-0.33-4.24-0.48zm-1-0.09c-1.24-0.1-2.47-0.18-3.68-0.22-0.06-1.52-0.13-3-0.22-4.56q1.71 0.14 3.39 0.42c0.25 1.5 0.42 2.95 0.56 4.36zm-4.62-0.26h-4.42c0.06-1.53 0.13-3.06 0.22-4.59a37.55 37.55 0 0 1 4 0c0.11 1.53 0.19 3.09 0.25 4.59zm-10 0.35c-1.38 0.13-2.79 0.29-4.25 0.49a31.93 31.93 0 0 1 1-3.73 30.07 30.07 0 0 1 3.73-1c-0.13 1.44-0.3 2.86-0.43 4.24zm-0.08 0.95c-0.11 1.25-0.18 2.47-0.23 3.68-1.52 0.06-3 0.13-4.55 0.22 0.09-1.14 0.22-2.27 0.42-3.38 1.54-0.21 2.99-0.38 4.41-0.52zm-0.23 10c0.05 1.21 0.12 2.43 0.23 3.68-1.42-0.14-2.87-0.31-4.36-0.52-0.2-1.11-0.33-2.24-0.42-3.38 1.56 0.08 3.08 0.15 4.6 0.21zm0.31 4.63c0.13 1.38 0.3 2.8 0.49 4.25a30.07 30.07 0 0 1-3.73-1 31.93 31.93 0 0 1-1-3.73c1.5 0.18 2.91 0.34 4.29 0.47zm5.58 0.35h2.21 2.21c-0.06 1.53-0.14 3.06-0.23 4.59a37.55 37.55 0 0 1-4 0c-0.01-1.54-0.08-3.07-0.15-4.6zm5.36 0c1.21 0 2.44-0.12 3.68-0.22-0.14 1.41-0.31 2.86-0.51 4.36q-1.68 0.29-3.39 0.42c0.14-1.57 0.21-3.09 0.27-4.61zm4.68-0.36c1.39-0.13 2.8-0.29 4.26-0.49a34 34 0 0 1-1 3.73 30.23 30.23 0 0 1-3.74 1c0.19-1.44 0.35-2.86 0.48-4.24zm0.09-1c0.1-1.25 0.18-2.47 0.23-3.68 1.52-0.06 3-0.13 4.55-0.22-0.09 1.14-0.22 2.27-0.42 3.38-1.45 0.26-2.94 0.43-4.36 0.57zm5.72-3.95c1.14-0.07 2.28-0.16 3.42-0.25a19.82 19.82 0 0 1-0.61 3c-1.09 0.19-2.16 0.36-3.2 0.51 0.18-1 0.3-2.1 0.39-3.21zm3.42-5.47c-1.14-0.09-2.28-0.18-3.42-0.25-0.09-1.11-0.21-2.21-0.39-3.29 1 0.15 2.11 0.32 3.2 0.51a19.82 19.82 0 0 1 0.61 3.03zm-4-4.52a34.5 34.5 0 0 0-0.86-3.48 24.84 24.84 0 0 1 2.71 1.24 17.44 17.44 0 0 1 1.21 2.76c-1.04-0.22-2.06-0.38-3.05-0.52zm-2.4-5a32.38 32.38 0 0 0-3.46-0.86q-0.23-1.5-0.48-3.06a17.33 17.33 0 0 1 2.7 1.21 23.86 23.86 0 0 1 1.25 2.71zm-5-4.25c0.18 1.09 0.35 2.16 0.5 3.2-1.08-0.18-2.18-0.3-3.29-0.38-0.07-1.15-0.16-2.29-0.25-3.43a20.2 20.2 0 0 1 3.1 0.61zm-3.68 2.77a35.69 35.69 0 0 0-3.87 0c0.08-1.16 0.17-2.31 0.26-3.47 0.55 0 1.11-0.07 1.68-0.07s1.12 0 1.68 0.07c0.1 1.14 0.18 2.29 0.25 3.47zm-9.09 0.64a32 32 0 0 0-3.47 0.86 25.78 25.78 0 0 1 1.25-2.71 17.33 17.33 0 0 1 2.7-1.21q-0.27 1.54-0.48 3.04zm-5 2.39a34.49 34.49 0 0 0-0.86 3.47q-1.48 0.21-3.06 0.48a17.48 17.48 0 0 1 1.22-2.71 25.57 25.57 0 0 1 2.7-1.27zm-1 4.45c-0.18 1.08-0.3 2.18-0.38 3.29-1.14 0.07-2.28 0.16-3.42 0.25a19.81 19.81 0 0 1 0.6-3c1.05-0.24 2.14-0.41 3.14-0.56zm-3.8 8.81c1.14 0.09 2.28 0.18 3.42 0.25 0.08 1.11 0.2 2.21 0.38 3.29-1-0.15-2.1-0.32-3.2-0.51a19.81 19.81 0 0 1-0.65-3.05zm4 4.52a34.49 34.49 0 0 0 0.86 3.47 23.7 23.7 0 0 1-2.76-1.28 17.37 17.37 0 0 1-1.22-2.7c1.05 0.19 2.07 0.35 3.06 0.49zm2.39 5a32 32 0 0 0 3.47 0.86q0.21 1.5 0.48 3.06a17.33 17.33 0 0 1-2.7-1.21 25.78 25.78 0 0 1-1.31-2.73zm8.69 1.5c0.65 0 1.29 0.06 1.94 0.06s1.29 0 1.93-0.06c-0.07 1.16-0.16 2.31-0.25 3.47-0.56 0-1.12 0.07-1.68 0.07s-1.13 0-1.68-0.07c-0.15-1.18-0.24-2.33-0.32-3.49zm4.82-0.07c1.11-0.08 2.21-0.2 3.29-0.38-0.15 1-0.32 2.11-0.5 3.2a20.2 20.2 0 0 1-3 0.61c-0.01-1.16 0.05-2.3 0.15-3.45zm4.28-0.57a32.38 32.38 0 0 0 3.46-0.86 23.86 23.86 0 0 1-1.3 2.69 17.33 17.33 0 0 1-2.7 1.21q0.26-1.56 0.48-3.06zm5-2.39a34.5 34.5 0 0 0 0.87-3.47c1-0.14 2-0.3 3-0.47a17.33 17.33 0 0 1-1.23 2.66 24.84 24.84 0 0 1-2.71 1.26z" fill="#8fbf4b"/>
 </g>
 <g id="biopama-blue" fill="#679b95">
  <path d="m56.75 26.25v-0.21a8.08 8.08 0 0 0 1.62-0.44l0.08 0.19a8.7 8.7 0 0 1-1.7 0.46zm3.19-1.25-0.11-0.18a8.35 8.35 0 0 0 1.33-1l0.14 0.15a8.78 8.78 0 0 1-1.36 1.03zm2.48-2.37-0.17-0.12a9.19 9.19 0 0 0 0.82-1.47l0.19 0.09a8.84 8.84 0 0 1-0.84 1.52zm1.36-3.14-0.2-0.05a7.77 7.77 0 0 0 0.18-1.67h0.24a9 9 0 0 1-0.22 1.74zm-0.16-3.39a9 9 0 0 0-0.48-1.61l0.2-0.08a9.45 9.45 0 0 1 0.48 1.65zm-16.21-1.47-0.2-0.08a8.81 8.81 0 0 1 0.79-1.55l0.18 0.11a8.45 8.45 0 0 0-0.77 1.52zm15-1.61a9.41 9.41 0 0 0-1.06-1.3l0.14-0.15a8.75 8.75 0 0 1 1.09 1.34zm-13.2-1.21-0.15-0.14a8.71 8.71 0 0 1 1.31-1.12l0.12 0.17a8.88 8.88 0 0 0-1.28 1.09zm10.79-1.16a9.57 9.57 0 0 0-1.48-0.79l0.08-0.19a8.78 8.78 0 0 1 1.51 0.81zm-8-0.74-0.08-0.19a8.68 8.68 0 0 1 1.64-0.52v0.21a8.46 8.46 0 0 0-1.56 0.5zm4.95-0.53a8.72 8.72 0 0 0-1.62-0.15h-0.06v-0.23h0.06a8.34 8.34 0 0 1 1.67 0.18zm-0.04 17.43v-0.21a9.43 9.43 0 0 0 1.58-0.42l0.07 0.19a9.82 9.82 0 0 1-1.65 0.44zm3.09-1.16-0.11-0.18a9 9 0 0 0 1.33-1l0.13 0.16a10.11 10.11 0 0 1-1.35 1.02zm2.51-2.19-0.16-0.13a10.33 10.33 0 0 0 0.9-1.36l0.18 0.09a10.9 10.9 0 0 1-0.89 1.4zm1.57-2.94-0.2-0.06a8.71 8.71 0 0 0 0.36-1.59h0.21a10.12 10.12 0 0 1-0.34 1.65zm0.22-3.29a7.91 7.91 0 0 0-0.23-1.61h0.21a10.08 10.08 0 0 1 0.23 1.65zm-17.41-2.87-0.19-0.08a8.32 8.32 0 0 1 0.75-1.49l0.18 0.11a8.7 8.7 0 0 0-0.74 1.46zm16.7-0.29a10.08 10.08 0 0 0-0.79-1.44l0.17-0.11a9.88 9.88 0 0 1 0.81 1.48zm-15-2.47-0.15-0.14a8.72 8.72 0 0 1 1.23-1.13l0.13 0.16a9 9 0 0 0-1.19 1.11zm13.16-0.23a9 9 0 0 0-1.25-1.06l0.12-0.17a9.41 9.41 0 0 1 1.27 1.08zm-10.55-1.75-0.09-0.18a9.83 9.83 0 0 1 1.55-0.62l0.06 0.2a9.41 9.41 0 0 0-1.52 0.6zm7.91-0.13a8.3 8.3 0 0 0-1.54-0.55v-0.21a9 9 0 0 1 1.58 0.57zm-4.79-0.79v-0.21a9.3 9.3 0 0 1 1.67 0v0.21a9 9 0 0 0-1.67 0zm2.75 18.7v-0.2a10.44 10.44 0 0 0 1.55-0.42l0.07 0.2a10 10 0 0 1-1.62 0.42zm3.06-1.1-0.1-0.18a10 10 0 0 0 1.33-0.9l0.13 0.16a10.47 10.47 0 0 1-1.36 0.92zm2.54-2.05-0.15-0.13a11 11 0 0 0 1-1.28l0.17 0.11a9.62 9.62 0 0 1-1.02 1.3zm1.74-2.76-0.19-0.08a10 10 0 0 0 0.49-1.52l0.2 0.05a9.34 9.34 0 0 1-0.5 1.55zm0.74-3.17h-0.21v-0.61-1h0.2a8.72 8.72 0 0 1 0.06 1c-0.03 0.19-0.04 0.4-0.05 0.61zm-0.54-3.19a9 9 0 0 0-0.55-1.5l0.19-0.09a9.13 9.13 0 0 1 0.56 1.54zm-18.27-1.06-0.19-0.07a10.47 10.47 0 0 1 0.73-1.46l0.18 0.11a10.07 10.07 0 0 0-0.72 1.42zm16.93-1.83a9.27 9.27 0 0 0-1-1.24l0.15-0.15a10.4 10.4 0 0 1 1 1.27zm-15.27-0.89-0.16-0.14a10.59 10.59 0 0 1 1.16-1.14l0.13 0.16a10.14 10.14 0 0 0-1.13 1.12zm13.06-1.41a9.65 9.65 0 0 0-1.36-0.85l0.09-0.18a10.39 10.39 0 0 1 1.39 0.86zm-10.59-0.62-0.1-0.18a9 9 0 0 1 1.48-0.69l0.07 0.19a9.09 9.09 0 0 0-1.45 0.68zm7.75-0.84a9.37 9.37 0 0 0-1.57-0.35v-0.21a9.77 9.77 0 0 1 1.6 0.37zm-4.76-0.27v-0.21a9.9 9.9 0 0 1 1.63-0.17v0.17a9.44 9.44 0 0 0-1.63 0.21zm3.88 19.79v-0.21a10.22 10.22 0 0 0 1.64-0.46l0.07 0.19a11.83 11.83 0 0 1-1.71 0.48zm3.23-1.22-0.1-0.18a10.28 10.28 0 0 0 1.4-1l0.13 0.16a10.72 10.72 0 0 1-1.43 1.05zm2.67-2.2-0.16-0.14a9.58 9.58 0 0 0 1-1.36l0.18 0.11a10.87 10.87 0 0 1-1.02 1.42zm1.81-2.94-0.19-0.08a10.15 10.15 0 0 0 0.51-1.56l0.2 0.05a9.58 9.58 0 0 1-0.52 1.62zm0.76-3.37h-0.2v-0.59a10.32 10.32 0 0 0-0.06-1.11h0.21a10.55 10.55 0 0 1 0.06 1.13c0.01 0.2 0 0.4-0.01 0.6zm-0.57-3.38a10.09 10.09 0 0 0-0.58-1.59l0.18-0.09a9.36 9.36 0 0 1 0.6 1.63zm-19.46-1.21-0.19-0.08a10.63 10.63 0 0 1 0.81-1.53l0.17 0.11a10.73 10.73 0 0 0-0.79 1.5zm18-1.83a10.36 10.36 0 0 0-1.07-1.31l0.15-0.15a10.06 10.06 0 0 1 1.14 1.35zm-16.21-1-0.16-0.14a10.14 10.14 0 0 1 1.29-1.22l0.13 0.16a9.73 9.73 0 0 0-1.23 1.17zm13.9-1.44a11.33 11.33 0 0 0-1.47-0.9l0.1-0.18a9.77 9.77 0 0 1 1.47 0.92zm-11.24-0.71-0.1-0.18a10.17 10.17 0 0 1 1.57-0.73l0.08 0.2a9.46 9.46 0 0 0-1.55 0.71zm8.22-0.84a10.14 10.14 0 0 0-1.65-0.38v-0.21a10.92 10.92 0 0 1 1.69 0.4zm-5-0.32v-0.2a9.83 9.83 0 0 1 1.72-0.17v0.2a10.76 10.76 0 0 0-1.76 0.17zm4.04 21.18v-0.21a11.45 11.45 0 0 0 1.62-0.45l0.07 0.2a13.45 13.45 0 0 1-1.69 0.46zm3.21-1.17-0.1-0.18a11.64 11.64 0 0 0 1.4-0.92l0.13 0.16a11 11 0 0 1-1.43 0.94zm2.7-2.08-0.14-0.14a11.13 11.13 0 0 0 1.06-1.33l0.17 0.12a9.8 9.8 0 0 1-1.09 1.35zm2-2.79-0.19-0.09a10.6 10.6 0 0 0 0.6-1.59l0.2 0.06a11 11 0 0 1-0.64 1.62zm1-3.25h-0.2a11.77 11.77 0 0 0 0.13-1.68h0.2a10.85 10.85 0 0 1-0.13 1.68zm-0.2-3.38a11.15 11.15 0 0 0-0.37-1.64l0.2-0.06a11.56 11.56 0 0 1 0.38 1.65zm-21.06-2.65-0.14-0.08a10.9 10.9 0 0 1 0.78-1.52l0.18 0.11a10.5 10.5 0 0 0-0.82 1.49zm20.07-0.55a13.09 13.09 0 0 0-0.85-1.45l0.17-0.12a12.13 12.13 0 0 1 0.86 1.48zm-18.31-2.3-0.16-0.13a10.64 10.64 0 0 1 1.2-1.22l0.14 0.16a10.2 10.2 0 0 0-1.18 1.19zm16.39-0.45a10.2 10.2 0 0 0-1.24-1.1l0.13-0.16a11.37 11.37 0 0 1 1.26 1.16zm-13.86-1.74-0.11-0.18a12.09 12.09 0 0 1 1.51-0.8l0.08 0.19a10.51 10.51 0 0 0-1.48 0.79zm11.22-0.31a11.09 11.09 0 0 0-1.53-0.7l0.07-0.2a11.56 11.56 0 0 1 1.56 0.72zm-8.15-1.05v-0.2a12.07 12.07 0 0 1 1.68-0.3v0.2a11.54 11.54 0 0 0-1.68 0.3zm5-0.13a11.41 11.41 0 0 0-1.66-0.21v-0.19a11.83 11.83 0 0 1 1.69 0.21zm0.12 22.59v-0.2a12.77 12.77 0 0 0 1.61-0.44l0.07 0.19a11.71 11.71 0 0 1-1.68 0.45zm3.2-1.12-0.09-0.19a11.49 11.49 0 0 0 1.42-0.87l0.12 0.17a12 12 0 0 1-1.45 0.89zm2.76-2-0.14-0.15a11 11 0 0 0 1.12-1.19l0.17 0.13a12.55 12.55 0 0 1-1.15 1.23zm2.1-2.67-0.18-0.1a10.92 10.92 0 0 0 0.73-1.5l0.2 0.07a12.77 12.77 0 0 1-0.75 1.55zm1.32-3.13-0.2-0.05a13.07 13.07 0 0 0 0.2-1.64h0.2a11.88 11.88 0 0 1-0.2 1.69zm0.12-3.37a11.72 11.72 0 0 0-0.19-1.66h0.2a12.17 12.17 0 0 1 0.2 1.69zm-0.62-3.27a9.48 9.48 0 0 0-0.65-1.54l0.19-0.1a11.34 11.34 0 0 1 0.66 1.57zm-22-0.78-0.25-0.12a11.4 11.4 0 0 1 0.75-1.48l0.18 0.11a11 11 0 0 0-0.74 1.49zm20.5-2.2a11.82 11.82 0 0 0-1-1.29v-0.14a13.57 13.57 0 0 1 1.07 1.31zm-18.78-0.66-0.22-0.13a12.41 12.41 0 0 1 1.16-1.24l0.14 0.11a13.16 13.16 0 0 0-1.14 1.26zm16.5-1.77a11.66 11.66 0 0 0-1.38-1l0.11-0.18a14.57 14.57 0 0 1 1.4 1zm-14-0.5-0.12-0.17a12 12 0 0 1 1.4-0.82l0.09 0.18a13 13 0 0 0-1.48 0.82zm11.06-1.19a10.86 10.86 0 0 0-1.58-0.53v-0.2a12.64 12.64 0 0 1 1.61 0.53zm-8.19-0.3-0.06-0.19a11.73 11.73 0 0 1 1.65-0.42v0.2a13.25 13.25 0 0 0-1.59 0.41zm5-0.52a11.66 11.66 0 0 0-1.67-0.06v-0.21a12.08 12.08 0 0 1 1.7 0.06zm1.13 24.28v-0.21a11.21 11.21 0 0 0 1.61-0.42l0.07 0.2a13.33 13.33 0 0 1-1.68 0.43zm3.22-1.08-0.09-0.18a11.63 11.63 0 0 0 1.45-0.84l0.11 0.18a13.37 13.37 0 0 1-1.47 0.84zm2.82-1.89-0.14-0.16a12 12 0 0 0 1.18-1.19l0.16 0.14a15.22 15.22 0 0 1-1.2 1.21zm2.24-2.57-0.18-0.11a12.44 12.44 0 0 0 0.83-1.46l0.18 0.09a11.92 11.92 0 0 1-0.83 1.48zm1.47-3.06-0.2-0.06a13 13 0 0 0 0.4-1.6h0.21a14.75 14.75 0 0 1-0.42 1.66zm0.61-3.34h-0.21v-0.61-1.06h0.21v1.08c0 0.36 0 0.38-0.01 0.59zm-0.5-3.32a12.7 12.7 0 0 0-0.46-1.6l0.19-0.08a14.76 14.76 0 0 1 0.48 1.64zm-23.9-2.14-0.19-0.08a14.36 14.36 0 0 1 0.76-1.52l0.18 0.11a13.84 13.84 0 0 0-0.75 1.47zm22.76-1a12.17 12.17 0 0 0-0.88-1.43l0.17-0.12a12 12 0 0 1 0.89 1.45zm-21.07-1.86-0.16-0.13a15.08 15.08 0 0 1 1.13-1.27l0.15 0.15a12 12 0 0 0-1.12 1.25zm19.14-0.84a13.27 13.27 0 0 0-1.22-1.16l0.13-0.16a13.72 13.72 0 0 1 1.24 1.16zm-16.76-1.54-0.12-0.17a13.33 13.33 0 0 1 1.42-0.93l0.11 0.18a13.12 13.12 0 0 0-1.41 0.92zm14.18-0.62a12.38 12.38 0 0 0-1.48-0.79l0.08-0.21a12.09 12.09 0 0 1 1.51 0.8zm-11.26-1-0.08-0.2a13.27 13.27 0 0 1 1.62-0.52v0.21a10.91 10.91 0 0 0-1.54 0.51zm8.21-0.36a11.31 11.31 0 0 0-1.63-0.37v-0.21a13.31 13.31 0 0 1 1.66 0.38zm-5-0.45v-0.2a12.1 12.1 0 0 1 1.7-0.08v0.21a13.33 13.33 0 0 0-1.67 0.06zm3.93 25.92v-0.2a13.6 13.6 0 0 0 1.64-0.42l0.06 0.2a11.87 11.87 0 0 1-1.7 0.42zm3.25-1-0.06-0.23a13.22 13.22 0 0 0 1.48-0.81l0.11 0.18a13.57 13.57 0 0 1-1.53 0.82zm2.94-1.86-0.13-0.16a13.39 13.39 0 0 0 1.23-1.15l0.15 0.14a12.55 12.55 0 0 1-1.25 1.17zm2.35-2.48-0.17-0.12a13.25 13.25 0 0 0 0.92-1.42l0.18 0.1a13.6 13.6 0 0 1-0.98 1.44zm1.66-3-0.19-0.08a13 13 0 0 0 0.53-1.6l0.2 0.06a11.84 11.84 0 0 1-0.55 1.64zm0.87-3.3h-0.2a13.41 13.41 0 0 0 0.11-1.68h0.21a16.19 16.19 0 0 1-0.17 1.7zm-0.18-3.39a13.47 13.47 0 0 0-0.31-1.66h0.2a13.78 13.78 0 0 1 0.31 1.68zm-0.82-3.26a13.27 13.27 0 0 0-0.7-1.53l0.18-0.1a14.53 14.53 0 0 1 0.64 1.57zm-25-0.26-0.19-0.07a12.17 12.17 0 0 1 0.73-1.49l0.18 0.1a13.17 13.17 0 0 0-0.74 1.48zm23.38-2.7a14.77 14.77 0 0 0-1.07-1.3l0.15-0.15a13.64 13.64 0 0 1 1.06 1.35zm-21.74-0.2-0.17-0.12a12.6 12.6 0 0 1 1.11-1.31l0.15 0.15a12.08 12.08 0 0 0-1.09 1.28zm19.48-2.25a12.08 12.08 0 0 0-1.35-1l0.11-0.18a15.35 15.35 0 0 1 1.38 1zm-17.1-0.17-0.13-0.16a12.12 12.12 0 0 1 1.39-1l0.11 0.17a14.29 14.29 0 0 0-1.42 0.99zm14.23-1.66a12.41 12.41 0 0 0-1.56-0.58l0.07-0.2a13.46 13.46 0 0 1 1.58 0.65zm-11.42-0.11-0.09-0.19a11.46 11.46 0 0 1 1.6-0.61l0.06 0.19a12.44 12.44 0 0 0-1.57 0.61zm8.23-1a13.39 13.39 0 0 0-1.67-0.22v-0.21a13.47 13.47 0 0 1 1.73 0.27zm-5 0v-0.2a13.83 13.83 0 0 1 1.7-0.2v0.21a13.13 13.13 0 0 0-1.72 0.18zm4.85 27.58v-0.2c0.53-0.1 1.06-0.22 1.57-0.37l0.06 0.2a14.64 14.64 0 0 1-1.63 0.37zm3.14-0.92-0.08-0.19a13.87 13.87 0 0 0 1.45-0.71l0.1 0.18a13.33 13.33 0 0 1-1.47 0.72zm2.85-1.59-0.12-0.17c0.43-0.32 0.86-0.66 1.26-1l0.14 0.16c-0.41 0.34-0.84 0.69-1.28 1.01zm2.43-2.2-0.16-0.14a12 12 0 0 0 1-1.26l0.17 0.12a15.33 15.33 0 0 1-1.01 1.28zm1.88-2.68-0.18-0.1a13 13 0 0 0 0.69-1.46l0.19 0.08a14.24 14.24 0 0 1-0.7 1.48zm1.23-3-0.2-0.05a14.38 14.38 0 0 0 0.35-1.61h0.2a12.69 12.69 0 0 1-0.35 1.63zm0.52-3.23h-0.2v-0.69-0.92h0.21v0.94c0 0.31 0 0.41-0.01 0.64zm-0.41-3.23a14.3 14.3 0 0 0-0.37-1.57l0.2-0.06a14.29 14.29 0 0 1 0.37 1.6zm-27.49-2.78-0.2-0.08a15.33 15.33 0 0 1 0.69-1.49l0.18 0.1a13.84 13.84 0 0 0-0.67 1.47zm26.57-0.34c-0.21-0.49-0.45-1-0.71-1.45l0.18-0.1a14.26 14.26 0 0 1 0.72 1.47zm-25.06-2.51-0.17-0.12a14 14 0 0 1 1-1.29l0.15 0.13c-0.34 0.41-0.67 0.84-0.98 1.28zm23.47-0.29a12.21 12.21 0 0 0-1.02-1.28l0.16-0.14a15.45 15.45 0 0 1 1 1.27zm-21.35-2.15-0.14-0.13a15.44 15.44 0 0 1 1.26-1l0.13 0.17a15 15 0 0 0-1.25 0.96zm19.18-0.24a15.41 15.41 0 0 0-1.27-1l0.12-0.17a15.47 15.47 0 0 1 1.29 1zm-16.58-1.66-0.1-0.18a13.25 13.25 0 0 1 1.46-0.73l0.09 0.19a13 13 0 0 0-1.45 0.72zm13.93-0.18a14.92 14.92 0 0 0-1.46-0.68l0.08-0.2c0.5 0.21 1 0.44 1.48 0.7zm-10.97-1.05-0.06-0.2c0.52-0.15 1.06-0.28 1.6-0.38v0.2c-0.5 0.05-1.02 0.18-1.54 0.38zm8-0.1c-0.52-0.14-1-0.25-1.58-0.34v-0.2a14.2 14.2 0 0 1 1.6 0.34zm-4.83-0.53v-0.2a12.82 12.82 0 0 1 1.64 0v0.2c-0.56-0.04-1.1-0.03-1.64 0zm3.51 29.63v-0.2c0.54-0.09 1.08-0.21 1.6-0.35l0.06 0.2c-0.57 0.17-1.11 0.29-1.66 0.35zm3.19-0.85-0.08-0.2a15.44 15.44 0 0 0 1.49-0.68l0.1 0.18c-0.51 0.26-0.98 0.49-1.51 0.7zm3-1.55-0.12-0.17a16.22 16.22 0 0 0 1.32-1l0.13 0.16a16.49 16.49 0 0 1-1.33 1.01zm2.55-2.14-0.15-0.15a14 14 0 0 0 1.07-1.24l0.17 0.13c-0.38 0.43-0.75 0.86-1.13 1.26zm2-2.64-0.18-0.1a14.51 14.51 0 0 0 0.78-1.45l0.19 0.09a15.78 15.78 0 0 1-0.79 1.46zm1.42-3-0.19-0.07c0.18-0.52 0.33-1.05 0.46-1.58h0.2a15.36 15.36 0 0 1-0.44 1.65zm0.76-3.25h-0.21c0.06-0.54 0.1-1.09 0.11-1.64h0.21c-0.01 0.54-0.05 1.07-0.11 1.64zm-0.17-3.3c0-0.55-0.13-1.1-0.23-1.63h0.2a14.9 14.9 0 0 1 0.24 1.65zm-0.65-3.22a14.29 14.29 0 0 0-0.58-1.54l0.19-0.08a13.91 13.91 0 0 1 0.59 1.57zm-28.91-0.86-0.2-0.07a16 16 0 0 1 0.68-1.52l0.19 0.09a15.29 15.29 0 0 0-0.67 1.5zm27.59-2.19a13.46 13.46 0 0 0-0.9-1.37l0.17-0.13a16 16 0 0 1 0.91 1.4zm-26.11-0.73-0.17-0.11a14 14 0 0 1 1-1.34l0.16 0.13a15.54 15.54 0 0 0-0.99 1.32zm24.17-1.88c-0.36-0.4-0.76-0.79-1.16-1.16l0.13-0.15a14.61 14.61 0 0 1 1.19 1.17zm-22.08-0.65-0.15-0.15a16.12 16.12 0 0 1 1.25-1.1l0.13 0.16a16 16 0 0 0-1.23 1.09zm19.63-1.53a12.53 12.53 0 0 0-1.39-0.88l0.11-0.18a15.75 15.75 0 0 1 1.4 0.89zm-17.05-0.51-0.15-0.17a14.81 14.81 0 0 1 1.45-0.81l0.09 0.19a13.29 13.29 0 0 0-1.39 0.79zm14.19-1.1a14.23 14.23 0 0 0-1.54-0.6l0.06-0.2c0.53 0.17 1 0.36 1.56 0.58zm-11.24-0.33-0.1-0.2a14.56 14.56 0 0 1 1.59-0.48l0.05 0.2a14.22 14.22 0 0 0-1.54 0.48zm8.1-0.63a14.87 14.87 0 0 0-1.63-0.23v-0.2a15.54 15.54 0 0 1 1.65 0.22zm-4.91-0.15v-0.2a13.26 13.26 0 0 1 1.66-0.13v0.21a14.89 14.89 0 0 0-1.66 0.12zm4.5 31.6v-0.2c0.55-0.09 1.1-0.2 1.64-0.34l0.05 0.2a15.25 15.25 0 0 1-1.69 0.34zm3.29-0.85-0.08-0.19c0.52-0.2 1-0.42 1.54-0.67l0.09 0.19c-0.5 0.25-1.02 0.43-1.55 0.67zm3-1.5-0.08-0.18a14.85 14.85 0 0 0 1.38-1l0.12 0.17c-0.43 0.37-0.9 0.7-1.38 1.01zm2.68-2.1-0.15-0.15a16.46 16.46 0 0 0 1.15-1.22l0.16 0.13a15.07 15.07 0 0 1-1.12 1.24zm2.24-2.59-0.17-0.12a16.13 16.13 0 0 0 0.88-1.43l0.18 0.1c-0.28 0.49-0.58 0.98-0.89 1.45zm1.62-3-0.2-0.05a14.89 14.89 0 0 0 0.58-1.6l0.2 0.06a15.28 15.28 0 0 1-0.59 1.6zm1-3.25h-0.2c0.1-0.55 0.18-1.11 0.23-1.67h0.2a16.32 16.32 0 0 1-0.26 1.68zm0.08-3.39a15.44 15.44 0 0 0-0.11-1.67h0.21c0.06 0.56 0.1 1.13 0.11 1.7zm-0.39-3.33a15.47 15.47 0 0 0-0.46-1.61l0.2-0.07a16 16 0 0 1 0.46 1.64zm-31.37-2.08-0.2-0.07c0.2-0.53 0.43-1 0.68-1.56l0.18 0.09c-0.24 0.54-0.47 1.02-0.66 1.54zm30.27-1.09a16.32 16.32 0 0 0-0.78-1.49l0.18-0.1a16.64 16.64 0 0 1 0.79 1.51zm-28.79-1.91-0.17-0.11a15.1 15.1 0 0 1 1-1.39l0.16 0.13c-0.36 0.42-0.69 0.89-0.99 1.37zm27.09-1a16.68 16.68 0 0 0-1.06-1.3l0.15-0.14q0.57 0.63 1.08 1.32zm-25-1.67-0.15-0.15c0.39-0.4 0.81-0.8 1.24-1.16l0.13 0.16a16.46 16.46 0 0 0-1.24 1.17zm22.77-0.82a16.68 16.68 0 0 0-1.28-1.04l0.12-0.17q0.69 0.51 1.32 1.08zm-20.23-1.33-0.12-0.18a16.56 16.56 0 0 1 1.45-0.89l0.1 0.18a16.13 16.13 0 0 0-1.43 0.89zm17.5-0.63a16.12 16.12 0 0 0-1.49-0.77l0.09-0.19a15.42 15.42 0 0 1 1.51 0.78zm-14.55-0.98-0.08-0.19c0.52-0.21 1.06-0.41 1.6-0.57l0.06 0.2c-0.58 0.16-1.07 0.35-1.58 0.56zm11.5-0.41a14.93 14.93 0 0 0-1.62-0.45v-0.2c0.56 0.12 1.11 0.28 1.64 0.45zm-8.29-0.55v-0.2a15.8 15.8 0 0 1 1.68-0.24v0.21a15.07 15.07 0 0 0-1.68 0.23zm5-0.18c-0.55-0.06-1.11-0.1-1.67-0.11v-0.21c0.57 0 1.14 0 1.7 0.11zm0.42 33.81v-0.2c0.54-0.07 1.09-0.17 1.63-0.29v0.2c-0.53 0.12-1.08 0.22-1.63 0.29zm3.25-0.74-0.07-0.2c0.52-0.17 1-0.37 1.54-0.59l0.09 0.19c-0.51 0.22-1.04 0.42-1.56 0.6zm3-1.35-0.1-0.18c0.47-0.27 1-0.56 1.4-0.87l0.11 0.17c-0.4 0.31-0.88 0.61-1.36 0.88zm2.74-1.89-0.13-0.16a16 16 0 0 0 1.26-1.1l0.15 0.14a16.6 16.6 0 0 1-1.23 1.12zm2.38-2.38-0.16-0.13a15.54 15.54 0 0 0 1-1.32l0.18 0.11c-0.32 0.46-0.66 0.91-1.02 1.34zm1.86-2.77-0.18-0.1c0.26-0.48 0.5-1 0.71-1.48l0.19 0.08a15.91 15.91 0 0 1-0.71 1.5zm1.31-3.11h-0.17c0.17-0.52 0.31-1.06 0.43-1.59h0.2c-0.15 0.59-0.29 1.11-0.46 1.59zm0.7-3.25h-0.2c0.06-0.54 0.1-1.09 0.11-1.64h0.22a15.44 15.44 0 0 1-0.13 1.68zm-0.13-3.32a15 15 0 0 0-0.19-1.64h0.21c0.09 0.54 0.15 1.1 0.19 1.65zm-0.53-3.25c-0.14-0.53-0.31-1.06-0.5-1.58l0.19-0.07a15.45 15.45 0 0 1 0.51 1.59zm-33.43-1.3-0.2-0.07c0.19-0.52 0.4-1 0.63-1.54l0.19 0.08c-0.23 0.54-0.4 1.05-0.62 1.57zm32.29-1.79a14.43 14.43 0 0 0-0.79-1.45l0.18-0.11a16 16 0 0 1 0.79 1.47zm-30.91-1.16-0.16-0.11c0.28-0.48 0.58-1 0.9-1.4l0.17 0.12a15.59 15.59 0 0 0-0.91 1.39zm29.21-1.63c-0.37-0.43-0.68-0.86-1.05-1.3l0.16-0.14c0.37 0.41 0.72 0.85 1 1.29zm-27.3-1-0.15-0.14c0.36-0.42 0.75-0.82 1.15-1.21l0.14 0.15a16.16 16.16 0 0 0-1.14 1.15zm25.1-1.4c-0.41-0.37-0.83-0.73-1.27-1.06l0.1-0.22c0.44 0.34 0.87 0.7 1.28 1.08zm-22.72-0.9-0.12-0.16a15.86 15.86 0 0 1 1.35-1l0.11 0.17c-0.45 0.3-0.9 0.62-1.34 0.99zm20.1-1.12q-0.7-0.44-1.44-0.81l0.09-0.18a16 16 0 0 1 1.46 0.82zm-17.33-0.7-0.1-0.18a16.19 16.19 0 0 1 1.52-0.71l0.07 0.2c-0.5 0.2-1.01 0.44-1.49 0.69zm14.38-0.8a15 15 0 0 0-1.6-0.52l0.05-0.2c0.53 0.15 1.07 0.32 1.58 0.52zm-11.33-0.44-0.06-0.2c0.53-0.16 1.08-0.29 1.62-0.4v0.2c-0.5 0.11-1.03 0.24-1.56 0.4zm8.16-0.45c-0.54-0.1-1.09-0.17-1.63-0.22v-0.21c0.55 0.05 1.11 0.12 1.66 0.22zm-4.93-0.19v-0.21c0.5-0.09 1.09-0.09 1.65-0.09v0.21a15.2 15.2 0 0 0-1.65 0.09z"/>
  <path d="m5.32 33.32a2.66 2.66 0 0 1-2.66 2.66 2.66 2.66 0 0 1-2.66-2.66 2.66 2.66 0 0 1 2.66-2.66 2.66 2.66 0 0 1 2.66 2.66zm30.68 3.04h-5.81v-0.42c1.91 0 3.86 0 5.8 0.06zm5.81 0v-0.41c1.95 0 3.9-0.06 5.81-0.11v0.41c-1.87 0.03-3.82 0.07-5.77 0.09zm-17.43-0.18c-2-0.06-4-0.15-5.8-0.24v-0.42c1.84 0.1 3.79 0.18 5.8 0.25zm29.09-0.18v-0.42c2-0.09 4-0.19 5.79-0.32v0.42c-1.79 0.15-3.75 0.26-5.79 0.32zm-40.65-0.5c-2.23-0.18-4.18-0.38-5.79-0.61l0.06-0.41c1.6 0.22 3.54 0.43 5.76 0.61zm52.24-0.32v-0.41c1.9177-0.17988 3.8217-0.48385 5.7-0.91l0.11 0.41c-1.9147 0.43674-3.8553 0.75071-5.81 0.94zm-63-2.13-0.35-0.21c0.13-0.22 0.52-0.89 5.68-1.58v0.41c-4.39 0.63-5.21 1.19-5.34 1.41zm67.26-1c-1.46-0.27-3.39-0.52-5.74-0.75v-0.41c2.36 0.23 4.3 0.48 5.78 0.75zm-56.11-1v-0.41c1.77-0.14 3.581-0.27 5.661-0.38l-0.04277 0.40931c-2.1 0.17-3.8282 0.33069-5.6282 0.44069zm44.59-0.24-2.069-0.15862-0.05346-0.39931c1.1533 0.046667 1.0658 0.074591 2.1325 0.14792z"/>
 </g>
</svg>
			</div>
		    <div class="scope-title">{{ globalLabel }}</div>
			<i class="fa fa-chevron-right" aria-hidden="true"></i>
		  </div>
		  <div id="js-view-dom-id-global-content-container" class="global-content scope-content">
			  <div class="menu-header">
				{{ globalLabel }} {{ policiesLabel }}
			  </div>
{#
/**
{{ drupal_view('menu_level_1_policies_2', 'block_global') }}
**/
#}			  
			
		  </div>
		  <div class="scope-icon-title regional-trigger">
			<div class="scope-image">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve"><style type="text/css">.bioc2{fill:#8FBF4B;} .bioc1{fill:#679B95;} </style>

<g id="biopama-color-2" class="bioc2">
	<g>
		<defs>
			<polygon points="69.6,65.7 0.5,65.7 15.7,32.8 58.8,32.8 			"></polygon>
		</defs>
		<clipPath>
			<use xlink:href="#XMLID_122_"></use>
		</clipPath>
		<g>
			<path d="M27.2,52.1c-0.7,0-1.3-0.6-1.5-1.2c-0.2-0.8-0.1-1.7,0.9-2.1l0.1,0.1
				c-0.9,0.3-1,1.2-0.8,1.9c0.2,0.7,0.8,1.2,1.7,1l7.1-1.7c3.3-0.8,6.4-2.3,9.1-4.4c0.5-0.4,0.8-1.1,0.6-1.7c-0.2-0.6-0.6-1-1.2-1
				l0-0.2c0.7,0.1,1.2,0.5,1.4,1.2c0.2,0.7-0.1,1.4-0.7,1.9c-2.7,2.1-5.8,3.6-9.1,4.4l-7.1,1.7C27.5,52.1,27.3,52.1,27.2,52.1z"></path>
		</g>
		<g>
			<path d="M57.3,55.5c-2,0.7-4,1.6-5.9,2.5l-3.9,2c-3.2,1.6-6.9,1.5-10-0.3c-3.3-1.9-7.4-1.9-10.6,0.2
				l-9.1,5.7c-0.7,0.2-1.7,0.9-0.1-0.1l9.1-5.7c3.3-2.1,7.4-2.2,10.8-0.2c3,1.8,6.7,1.9,9.8,0.3l3.9-2c1.9-1,3.9-1.8,5.9-2.5"></path>
		</g>
	</g>
	<g>
		<path d="M12.9,48.4H8.4l7.3-15.7h43.3l0.8,2.3l-0.1,0c-2.8,1.4-5.5,2.1-9,2.4l-6.7,0.6
			c-3.5,0.3-6.9,1.3-10.1,2.9l-8.3,4.3C21.6,47.3,17.3,48.4,12.9,48.4z M8.7,48.2h4.2c4.3,0,8.7-1.1,12.5-3l8.3-4.3
			c3.2-1.6,6.6-2.6,10.1-3l6.7-0.6c3.5-0.3,6.1-1,8.9-2.4l-0.7-2h-43L8.7,48.2z"></path>
	</g>
	<g>
		<path d="M31.4,41.7c-1.2,0-2.3-0.5-3.2-1.3l-0.8-0.8c-1.9-1.9-1.9-4.9,0-6.8l0.1-0.1h13.2
			c2.4,0,4.7,1,6.4,2.7l0,0c0.4,0.4,0.5,1,0.3,1.5c-0.2,0.5-0.7,0.9-1.2,0.9l-2.4,0.2c-3.5,0.3-6.9,1.3-10.1,2.9l-0.4,0.2
			C32.8,41.5,32.1,41.7,31.4,41.7z M27.5,32.9L27.5,32.9c-1.8,1.8-1.8,4.7,0,6.5l0.8,0.8c1.3,1.3,3.3,1.6,5,0.8l0.4-0.2
			c3.2-1.6,6.6-2.6,10.1-3l2.4-0.2c0.5,0,0.9-0.4,1.1-0.8c0.2-0.5,0.1-1-0.3-1.3l0,0c-1.7-1.7-3.9-2.6-6.3-2.6H27.5z"></path>
	</g>
	<g>
		<path d="M41.3,32.8l-8.6,8.6c0.2-0.1,0.5-0.2,0.7-0.3l0.4-0.2c0.2-0.1,0.5-0.2,0.8-0.4l7.6-7.6
			C41.9,32.8,41.6,32.8,41.3,32.8z"></path>
		<path d="M42.4,32.9l-7.4,7.4c0.5-0.2,1.1-0.5,1.6-0.7l6.5-6.5C42.9,33,42.7,33,42.4,32.9z"></path>
		<path d="M47,35.4c-0.1-0.1-0.3-0.3-0.5-0.4l-3,3c0.1,0,0.2,0,0.3,0l0.8-0.1L47,35.4
			C47.1,35.4,47.1,35.4,47,35.4z"></path>
		<path d="M43.4,33.2l-6.3,6.3c0.5-0.2,0.9-0.3,1.4-0.5l5.5-5.5C43.9,33.3,43.6,33.2,43.4,33.2z"></path>
		<path d="M38.9,32.7l-8.7,8.7c0.3,0.1,0.5,0.1,0.8,0.1l8.8-8.8H38.9z"></path>
		<path d="M33.9,32.7l-6.6,6.6c0,0.1,0.1,0.1,0.1,0.2l0.3,0.3l7.1-7.1H33.9z"></path>
		<path d="M32.7,32.7l-5.9,5.9c0.1,0.2,0.3,0.4,0.4,0.5l6.4-6.4H32.7z"></path>
		<path d="M44.3,33.5L39,38.8c0.4-0.1,0.9-0.2,1.3-0.3l4.7-4.7C44.7,33.7,44.5,33.6,44.3,33.5z"></path>
		<path d="M35.1,32.7L27.9,40l0.3,0.3c0,0,0.1,0.1,0.2,0.1l7.7-7.7H35.1z"></path>
		<path d="M45.1,33.9l-4.5,4.5c0.4-0.1,0.8-0.2,1.2-0.2l3.9-3.9C45.5,34.2,45.3,34,45.1,33.9z"></path>
		<path d="M36.4,32.7l-7.8,7.8c0.2,0.1,0.4,0.3,0.6,0.4l8.2-8.2H36.4z"></path>
		<path d="M45.9,34.4l-3.7,3.7c0.4-0.1,0.7-0.1,1.1-0.1l3.2-3.2C46.3,34.7,46.1,34.6,45.9,34.4z"></path>
		<path d="M31.4,32.7l-5,5c0.1,0.2,0.2,0.4,0.3,0.6l5.7-5.7H31.4z"></path>
		<path d="M28.9,32.7l-2.8,2.8c0,0.3,0,0.6,0,1l3.8-3.8H28.9z"></path>
		<path d="M27.7,32.7l-0.9,0.9c-0.3,0.5-0.5,1-0.6,1.6l2.5-2.5H27.7z"></path>
		<path d="M30.2,32.7l-4,4c0,0.3,0.1,0.5,0.2,0.8l4.8-4.8H30.2z"></path>
		<path d="M47.2,35.6l-2.3,2.3l1.1-0.1l1.5-1.5C47.5,36,47.4,35.8,47.2,35.6z"></path>
		<path d="M37.6,32.7l-8.3,8.3c0.2,0.1,0.4,0.2,0.6,0.3l8.6-8.6H37.6z"></path>
		<path d="M47.5,36.6l-1.1,1.1C47,37.6,47.4,37.1,47.5,36.6z"></path>
		<path d="M40.7,32.7h-0.6l-8.8,8.8c0.4,0,0.7,0,1.1-0.1l8.7-8.7C40.9,32.8,40.8,32.7,40.7,32.7z"></path>
		<path d="M27.5,32.7L27.5,32.7c-0.3,0.3-0.5,0.6-0.7,0.9l0.9-0.9H27.5z"></path>
		<path d="M28.6,32.7l-2.5,2.5c0,0.1,0,0.2,0,0.3l2.8-2.8H28.6z"></path>
		<path d="M29.9,32.7l-3.8,3.8c0,0.1,0,0.2,0,0.3l4-4H29.9z"></path>
		<path d="M31.1,32.7l-4.8,4.8c0,0.1,0,0.1,0.1,0.2l5-5H31.1z"></path>
		<path d="M32.4,32.7l-5.7,5.7c0,0.1,0.1,0.1,0.1,0.2l5.9-5.9H32.4z"></path>
		<path d="M33.6,32.7l-6.4,6.4c0,0.1,0.1,0.1,0.1,0.2l6.6-6.6H33.6z"></path>
		<polygon points="34.9,32.7 27.8,39.8 27.9,40 35.1,32.7 		"></polygon>
		<path d="M36.1,32.7l-7.7,7.7c0.1,0,0.1,0.1,0.2,0.1l7.8-7.8H36.1z"></path>
		<path d="M37.3,32.7l-8.2,8.2c0.1,0,0.1,0.1,0.2,0.1l8.3-8.3H37.3z"></path>
		<path d="M38.6,32.7L30,41.3c0.1,0,0.1,0,0.2,0.1l8.7-8.7H38.6z"></path>
		<path d="M39.8,32.7L31,41.5c0.1,0,0.2,0,0.3,0l8.8-8.8H39.8z"></path>
		<path d="M41,32.8l-8.7,8.7c0.1,0,0.3-0.1,0.4-0.1l8.6-8.6C41.2,32.8,41.1,32.8,41,32.8z"></path>
		<path d="M42.2,32.9l-7.6,7.6c0.2-0.1,0.4-0.2,0.5-0.3l7.4-7.4C42.3,32.9,42.2,32.9,42.2,32.9z"></path>
		<path d="M43.2,33.1l-6.5,6.5c0.2-0.1,0.3-0.1,0.5-0.2l6.3-6.3C43.3,33.2,43.3,33.1,43.2,33.1z"></path>
		<path d="M44.1,33.4L38.6,39c0.1,0,0.3-0.1,0.4-0.1l5.3-5.3C44.2,33.5,44.2,33.5,44.1,33.4z"></path>
		<path d="M44.9,33.8l-4.7,4.7c0.1,0,0.2-0.1,0.4-0.1l4.5-4.5C45.1,33.9,45,33.9,44.9,33.8z"></path>
		<path d="M45.7,34.3l-3.9,3.9c0.1,0,0.2,0,0.3-0.1l3.7-3.7C45.8,34.4,45.8,34.3,45.7,34.3z"></path>
		<path d="M46.4,34.8L43.2,38c0.1,0,0.2,0,0.3,0l3-3C46.5,34.9,46.5,34.9,46.4,34.8z"></path>
		<path d="M47.1,35.4C47.1,35.4,47.1,35.4,47.1,35.4l-2.5,2.4l0.3,0l2.3-2.3
			C47.2,35.5,47.1,35.5,47.1,35.4z"></path>
		<path d="M46.3,37.7l1.1-1.1c0-0.1,0-0.2,0-0.3L46,37.8L46.3,37.7C46.3,37.7,46.3,37.7,46.3,37.7z"></path>
	</g>
	<g>
		<path d="M27.2,51.9c-0.8,0-1.3-0.5-1.5-1.1c-0.2-0.7,0-1.6,0.9-2l9.3-4.1c1.9-0.8,4-1.4,6.1-1.7
			l0.5-0.1c0.7-0.1,1.4,0.3,1.7,1c0.3,0.7,0.1,1.4-0.5,1.9c-1.3,1.1-2.8,2-4.3,2.7c-1.5,0.7-3.2,1.3-4.8,1.7l-7.1,1.6
			C27.5,51.9,27.3,51.9,27.2,51.9z M42.8,43.1c-0.1,0-0.1,0-0.2,0l-0.5,0.1c-2.1,0.3-4.1,0.9-6,1.7L26.7,49c-0.8,0.3-1,1.1-0.8,1.7
			c0.2,0.6,0.8,1.1,1.6,0.9l7.1-1.6c1.6-0.4,3.3-1,4.8-1.7c1.5-0.7,3-1.6,4.3-2.7c0.6-0.5,0.6-1.2,0.4-1.6
			C43.9,43.5,43.5,43.1,42.8,43.1z"></path>
	</g>
	<g>
		<g>
			<path d="M16.8,64.8h-16l0.1-0.1l4.2-9.2l0.1,0c4.4,0.8,9.1,0.6,13.4-0.6l13.1-3.6
				c2.7-0.7,5.4-1.1,8.2-1.1h2.4c7.5,0,14.1-2.5,19.7-7.6l0.1-0.1l3.1,9.5l-7.4,2.6c-2,0.7-4,1.6-5.9,2.5l-3.9,2
				c-1.5,0.7-3.1,1.1-4.7,1.1c-1.8,0-3.7-0.5-5.3-1.4c-3.3-1.9-7.4-1.8-10.6,0.2L19,64.1L16.8,64.8z M1.1,64.6h15.7l2.2-0.6l8.4-5.3
				c3.3-2.1,7.5-2.2,10.8-0.2c1.6,0.9,3.4,1.4,5.2,1.4c1.6,0,3.2-0.4,4.6-1.1l3.9-2c1.9-1,3.9-1.8,5.9-2.5l7.2-2.5l-2.9-9
				c-5.6,5-12.2,7.5-19.7,7.5h-2.4c-2.7,0-5.5,0.4-8.1,1.1L18.7,55c-4.3,1.2-9,1.4-13.4,0.7L1.1,64.6z"></path>
		</g>
		<g>
			<path d="M16.8,64.8h-16l0.1-0.1l4.2-9.2l0.1,0c4.4,0.8,9.1,0.6,13.4-0.6l13.1-3.6
				c2.7-0.7,5.4-1.1,8.2-1.1h2.4c7.5,0,14.1-2.5,19.7-7.6l0.1-0.1l3.1,9.5l-7.4,2.6c-2,0.7-4,1.6-5.9,2.5l-3.9,2
				c-1.5,0.7-3.1,1.1-4.7,1.1c-1.8,0-3.7-0.5-5.3-1.4c-3.3-1.9-7.4-1.8-10.6,0.2L19,64.1L16.8,64.8z M1.1,64.6h15.7l2.2-0.6l8.4-5.3
				c3.3-2.1,7.5-2.2,10.8-0.2c1.6,0.9,3.4,1.4,5.2,1.4c1.6,0,3.2-0.4,4.6-1.1l3.9-2c1.9-1,3.9-1.8,5.9-2.5l7.2-2.5l-2.9-9
				c-5.6,5-12.2,7.5-19.7,7.5h-2.4c-2.7,0-5.5,0.4-8.1,1.1L18.7,55c-4.3,1.2-9,1.4-13.4,0.7L1.1,64.6z"></path>
		</g>
		<g>
			<path d="M16.8,64.8h-16l0.1-0.1l4.2-9.2l0.1,0c4.4,0.8,9.1,0.6,13.4-0.6l13.1-3.6
				c2.7-0.7,5.4-1.1,8.2-1.1h2.4c7.5,0,14.1-2.5,19.7-7.6l0.1-0.1l3.1,9.5l-7.4,2.6c-2,0.7-4,1.6-5.9,2.5l-3.9,2
				c-1.5,0.7-3.1,1.1-4.7,1.1c-1.8,0-3.7-0.5-5.3-1.4c-3.3-1.9-7.4-1.8-10.6,0.2L19,64.1L16.8,64.8z M1.1,64.6h15.7l2.2-0.6l8.4-5.3
				c3.3-2.1,7.5-2.2,10.8-0.2c1.6,0.9,3.4,1.4,5.2,1.4c1.6,0,3.2-0.4,4.6-1.1l3.9-2c1.9-1,3.9-1.8,5.9-2.5l7.2-2.5l-2.9-9
				c-5.6,5-12.2,7.5-19.7,7.5h-2.4c-2.7,0-5.5,0.4-8.1,1.1L18.7,55c-4.3,1.2-9,1.4-13.4,0.7L1.1,64.6z"></path>
		</g>
	</g>
	<g>
		<path d="M70,66H0l15.5-33.6h43.6L70,66z M1,65.4h68.1L58.6,33.1H15.9L1,65.4z"></path>
	</g>
</g>
<g id="biopama-color-1" class="bioc1">
	<g>
		<g>
			<g>
				<g>
					<path d="M35,4.3c-6.5,0-11.8,5.3-11.8,11.8S35,36.4,35,36.4s11.8-13.8,11.8-20.4
						S41.5,4.3,35,4.3z M35,21.9c-3.6,0-6.5-2.9-6.5-6.5c0-3.6,2.9-6.5,6.5-6.5c3.6,0,6.5,2.9,6.5,6.5C41.5,19,38.6,21.9,35,21.9z"></path>
					<path d="M35,36.9l-0.2-0.3c-0.5-0.6-11.9-14-11.9-20.6C22.9,9.4,28.4,4,35,4
						s12.1,5.4,12.1,12.1c0,6.6-11.4,20-11.9,20.6L35,36.9z M35,4.6c-6.3,0-11.5,5.1-11.5,11.5c0,5.8,9.8,17.8,11.5,19.9
						c1.7-2,11.5-14.1,11.5-19.9C46.5,9.8,41.4,4.6,35,4.6z M35,22.2c-3.8,0-6.8-3.1-6.8-6.8s3.1-6.8,6.8-6.8s6.8,3.1,6.8,6.8
						S38.8,22.2,35,22.2z M35,9.2c-3.4,0-6.2,2.8-6.2,6.2s2.8,6.2,6.2,6.2s6.2-2.8,6.2-6.2S38.4,9.2,35,9.2z"></path>
				</g>
				<g>
					<path d="M35,4.3c-6.5,0-11.8,5.3-11.8,11.8S35,36.4,35,36.4s11.8-13.8,11.8-20.4
						S41.5,4.3,35,4.3z M35,21.9c-3.6,0-6.5-2.9-6.5-6.5c0-3.6,2.9-6.5,6.5-6.5c3.6,0,6.5,2.9,6.5,6.5C41.5,19,38.6,21.9,35,21.9z"></path>
					<path d="M35,36.9l-0.2-0.3c-0.5-0.6-11.9-14-11.9-20.6C22.9,9.4,28.4,4,35,4
						s12.1,5.4,12.1,12.1c0,6.6-11.4,20-11.9,20.6L35,36.9z M35,4.6c-6.3,0-11.5,5.1-11.5,11.5c0,5.8,9.8,17.8,11.5,19.9
						c1.7-2,11.5-14.1,11.5-19.9C46.5,9.8,41.4,4.6,35,4.6z M35,22.2c-3.8,0-6.8-3.1-6.8-6.8s3.1-6.8,6.8-6.8s6.8,3.1,6.8,6.8
						S38.8,22.2,35,22.2z M35,9.2c-3.4,0-6.2,2.8-6.2,6.2s2.8,6.2,6.2,6.2s6.2-2.8,6.2-6.2S38.4,9.2,35,9.2z"></path>
				</g>
				<g>
					<path d="M35,4.3c-6.5,0-11.8,5.3-11.8,11.8S35,36.4,35,36.4s11.8-13.8,11.8-20.4
						S41.5,4.3,35,4.3z M35,21.9c-3.6,0-6.5-2.9-6.5-6.5c0-3.6,2.9-6.5,6.5-6.5c3.6,0,6.5,2.9,6.5,6.5C41.5,19,38.6,21.9,35,21.9z"></path>
					<path d="M35,36.9l-0.2-0.3c-0.5-0.6-11.9-14-11.9-20.6C22.9,9.4,28.4,4,35,4
						s12.1,5.4,12.1,12.1c0,6.6-11.4,20-11.9,20.6L35,36.9z M35,4.6c-6.3,0-11.5,5.1-11.5,11.5c0,5.8,9.8,17.8,11.5,19.9
						c1.7-2,11.5-14.1,11.5-19.9C46.5,9.8,41.4,4.6,35,4.6z M35,22.2c-3.8,0-6.8-3.1-6.8-6.8s3.1-6.8,6.8-6.8s6.8,3.1,6.8,6.8
						S38.8,22.2,35,22.2z M35,9.2c-3.4,0-6.2,2.8-6.2,6.2s2.8,6.2,6.2,6.2s6.2-2.8,6.2-6.2S38.4,9.2,35,9.2z"></path>
				</g>
			</g>
		</g>
		<g>
			<g>
				<g>
					<path d="M35,4.3c-6.5,0-11.8,5.3-11.8,11.8S35,36.4,35,36.4s11.8-13.8,11.8-20.4
						S41.5,4.3,35,4.3z M35,21.9c-3.6,0-6.5-2.9-6.5-6.5c0-3.6,2.9-6.5,6.5-6.5c3.6,0,6.5,2.9,6.5,6.5C41.5,19,38.6,21.9,35,21.9z"></path>
					<path d="M35,36.9l-0.2-0.3c-0.5-0.6-11.9-14-11.9-20.6C22.9,9.4,28.4,4,35,4
						s12.1,5.4,12.1,12.1c0,6.6-11.4,20-11.9,20.6L35,36.9z M35,4.6c-6.3,0-11.5,5.1-11.5,11.5c0,5.8,9.8,17.8,11.5,19.9
						c1.7-2,11.5-14.1,11.5-19.9C46.5,9.8,41.4,4.6,35,4.6z M35,22.2c-3.8,0-6.8-3.1-6.8-6.8s3.1-6.8,6.8-6.8s6.8,3.1,6.8,6.8
						S38.8,22.2,35,22.2z M35,9.2c-3.4,0-6.2,2.8-6.2,6.2s2.8,6.2,6.2,6.2s6.2-2.8,6.2-6.2S38.4,9.2,35,9.2z"></path>
				</g>
			</g>
		</g>
	</g>
</g>
</svg>
			</div>
		    <div class="scope-title">{{ regionalLabel }}</div>
			<i class="fa fa-chevron-right" aria-hidden="true"></i>
		  </div>
		  <div id="regional-content-container" class="regional-content scope-content">
			  <div class="menu-header">
				{{ regionalLabel }} {{ policiesLabel }}
			  </div>
{#
/**
{{ drupal_view('menu_level_1_policies_2', 'block_regional') }}
**/
#}				  
			
		  </div>
		  <div class="scope-icon-title national-trigger">
			<div class="scope-image">
			<svg width="64" height="70" version="1.1" viewBox="0 0 64 70" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><style type="text/css">
	.st0{fill:#8FBF4B;}
	.st1{fill:#669A94;}
</style><g id="biopama-green" transform="translate(0,-1010)"><path d="m32.884 1026.5-2.3511 2.3511c0-0.011 0-0.011-0.01082-0.022-0.01082-0.043-0.02169-0.098-0.04331-0.1408l2.1994-2.1886h0.01082c0.05419 0 0.10834 0.011 0.16252 0.011 0.01082-0.011 0.02169 0 0.0325-0.011zm6.4574 17.931-2.8387 2.8386c-0.05419 0-0.11918 0.011-0.18418 0l3.0012-3.0012zm0.08668 0.7042-2.1127 2.1127c-0.06501 0.011-0.11918 0.011-0.18419 0.011l2.2753-2.2752zm0.08668 0.6934-1.376 1.376c-0.06501 0.011-0.13002 0.011-0.19502 0.011l1.5493-1.5493zm0.08668 0.6935-0.61757 0.6175c-0.06501 0.011-0.13002 0.011-0.19502 0.011l0.79092-0.8018zm0.0325 0.5741 0.0325-0.033 0.01082 0.033zm-0.05419-14.096c-0.01082 0.076-0.02169 0.1517-0.04332 0.2167l-7.4759 7.4868c0-0.065 0-0.1301 0.01082-0.1842zm-0.15168 0.9427c-0.01082 0.076-0.02169 0.1517-0.04332 0.2166l-7.3784 7.3783c0.01082-0.065 0.01082-0.1299 0.01082-0.1949zm-0.40088 6.8691-0.16252 0.1624-6.2299 6.2192c-0.05419 0-0.10835 0-0.16252-0.011l6.5549-6.5549c-0.01082 0.065 0 0.1192 0 0.1842zm0.02169 0.7584-5.6557 5.6557c-0.06501 0.011-0.10835 0.011-0.17335-0.011l5.829-5.829v0.1842zm0.06501 0.7151-4.9731 4.973c-0.05419 0-0.11918 0-0.17335-0.011l5.1356-5.1356c0 0.065 0.01082 0.1192 0.01082 0.1734zm0.07583 0.7259-4.2688 4.2689c-0.06501 0-0.10835 0-0.17336-0.011l4.4313-4.4313c0 0.054 0 0.1084 0.01082 0.1734zm0.06501 0.7151-3.5429 3.5538c-0.06501 0.011-0.13001 0.011-0.18419 0.011l3.7271-3.7162c-0.01082 0.043-0.01082 0.098 0 0.1516zm0.06501 0.5417-3.0012 3.0012h-0.01082zm-9.3611-18.007-0.19502 0.1949-0.04332-0.1408 0.07584-0.076c0.05419 0.011 0.10835 0.022 0.16252 0.022zm0.71509 0.065-0.71509 0.7151-0.04332-0.1408 0.5959-0.5959c0.04332 0.022 0.10835 0.022 0.16252 0.022zm3.7271 0.2384-3.5104 3.5104c-0.01082-0.043-0.0325-0.097-0.04332-0.1409l3.3804-3.3803c0.05419 0.011 0.10834 0.011 0.17335 0.011zm0.78009 0-4.1388 4.1388c-0.01082-0.054-0.02169-0.097-0.0325-0.1408l3.9871-3.9872c0.05419 0 0.11918 0 0.18418-0.011zm5.8182-0.3033-9.1119 9.1118c-0.01082-0.054-0.01082-0.1084-0.02169-0.1625l8.9277-8.9277c0.06501-0.011 0.13002-0.011 0.20585-0.022zm0.49839 0.098c-0.0325 0.097-0.07585 0.1951-0.10835 0.2926l-9.4369 9.4369c0-0.054-0.01082-0.1084-0.01082-0.1625zm-1.3868-0.011-8.321 8.321c-0.01082-0.054-0.01082-0.1084-0.02169-0.1626l8.1476-8.1476c0.06501 0 0.13002 0 0.19502-0.011zm-1.701 0.13-6.815 6.8258c-0.01082-0.054-0.02169-0.098-0.0325-0.1517l6.6524-6.6524c0.06501 0 0.11918-0.011 0.19502-0.022zm-0.82343 0.043-6.1215 6.1215c-0.01082-0.054-0.02169-0.098-0.0325-0.1517l5.9482-5.9482c0.07584-0.011 0.13002-0.011 0.20586-0.022zm-3.9546 0.011-2.9253 2.9253c-0.01081-0.043-0.02169-0.098-0.04332-0.1408l2.7953-2.7953c0.06501 0.011 0.11918 0.011 0.17335 0.011zm2.3294 0.033-4.7672 4.7673c-0.01082-0.044-0.02169-0.098-0.0325-0.1409l4.6264-4.6264c0.05419 0.011 0.11918 0.011 0.17335 0zm0.80176-0.011-5.4173 5.4173c-0.01082-0.054-0.02169-0.098-0.0325-0.1517l5.2656-5.2656c0.05419 0.011 0.11918 0.011 0.18418 0zm2.492-0.1301-0.36837 0.3684-0.08668-0.087 0.26002-0.26c0.06501-0.011 0.13002-0.011 0.19502-0.022zm-7.8767-0.022-1.2351 1.2351-0.04332-0.1408 1.116-1.116c0.05419 0.011 0.10835 0.011 0.16252 0.022zm0.73675 0.054-1.7769 1.7769-0.04332-0.1408 1.6469-1.6578c0.05419 0.011 0.11918 0.022 0.17336 0.022zm0.46589 0.325zm6.2191-0.087-7.1183 7.1185c0.01082 0.054 0.01082 0.1082 0.02169 0.1624l7.1942-7.1942zm2.2319 0.9211-9.036 9.036c0 0.054 0.01082 0.1083 0.01082 0.1625l8.9169-8.9169c0.0325-0.098 0.07583-0.1842 0.10835-0.2816zm-0.40088 1.1809-8.581 8.581c0 0.054 0 0.1191 0.01082 0.1733l8.5052-8.5051c0.01082-0.076 0.0325-0.1625 0.06501-0.2492zm-0.33587 1.1268-8.2235 8.2234c0 0.054 0 0.1192 0.01082 0.1734l8.1368-8.1368c0.02169-0.087 0.04331-0.1734 0.07584-0.26zm-0.2817 1.0617-7.9201 7.9201v0.1843l7.8659-7.866c0.02169-0.076 0.0325-0.1517 0.05419-0.2384zm-0.23836 1.0294-7.6926 7.6924v0.1843l7.6492-7.6492c0-0.076 0.02169-0.1517 0.04332-0.2275zm-0.50923 2.8603c-0.01082 0.076-0.01082 0.1408-0.02169 0.2059l-7.3025 7.3025c0.01082-0.065 0.01082-0.1301 0.01082-0.1951zm-0.08668 0.8776c-0.01082 0.065-0.01082 0.1299-0.02169 0.195l-7.3025 7.3026 0.02169-0.1951zm-0.08668 0.8667c-0.01082 0.065-0.01082 0.1301-0.02169 0.1951l-7.2917 7.3025 0.02169-0.2059zm-0.05419 0.8452c-0.01082 0.065-0.01082 0.13-0.01082 0.1949l-7.3242 7.3243 0.01082-0.1951zm-0.02169 0.8125c-0.01082 0.065-0.01082 0.1301-0.01082 0.1842l-7.3784 7.3784 0.01082-0.195zm-0.0325 0.8127v0.1842l-7.4434 7.4433 0.02169-0.2058zm0.02169 0.9534-0.18419 0.1842-6.9233 6.9125c-0.05419 0-0.10835 0-0.16252-0.011l6.9991-6.9992 0.26002-0.2709c0 0.065 0.01082 0.1301 0.01082 0.1842zm0.02169 0.7692-0.16252 0.1517zm9.5453-14.269-1.9827 1.9827c0.02169-0.087 0.05419-0.1842 0.08668-0.2708l1.7444-1.7445c0.05419 0 0.09752 0.022 0.15168 0.033zm3.3262 6.7174v0.1842l-7.3892 7.3892c0-0.065 0.01082-0.13 0.01082-0.1949zm0 3.1421v0.1842l-7.4109 7.4108v-0.1841zm0 2.3619v0.1842l-7.2917 7.2917c0-0.054-0.01082-0.1084-0.01082-0.1734zm0 1.571v0.1842l-6.3057 6.3058c-0.05419-0.011-0.10835-0.011-0.16252-0.011zm0 0.7909v0.1842l-5.5906 5.5907h-0.01082c-0.05419-0.011-0.10835-0.022-0.15168-0.022zm0 0.7801v0.1842l-4.8756 4.8756c-0.05419-0.011-0.10835-0.022-0.16252-0.022zm0 0.791v0.1841l-4.193 4.1931c-0.04331-0.011-0.09751-0.022-0.16252-0.022zm0 0.7909v0.1841l-3.5321 3.5322c-0.04332-0.022-0.09751-0.022-0.15168-0.033zm0 0.7801v0.1842l-2.882 2.8819c-0.04332-0.011-0.09751-0.022-0.15168-0.033zm0 0.7909v0.1842l-2.2536 2.2536c-0.04331-0.022-0.08668-0.033-0.14085-0.043zm0 0.7801v0.1842l-1.636 1.636c-0.04332-0.022-0.09751-0.033-0.14085-0.043zm0 0.7909v0.1843l-1.0293 1.0292c-0.04332-0.022-0.08668-0.033-0.14085-0.044zm0-14.941v0.1842l-7.3025 7.3025c0-0.065 0.01082-0.13 0.02169-0.2058zm0 0.78v0.1843l-7.3567 7.3567c0-0.065 0-0.1301 0.01082-0.195zm0 1.582v0.1841l-7.4217 7.4217c0.01082-0.065 0.01082-0.13 0.01082-0.1842zm0 0.7909v0.1733l-7.4325 7.4326v-0.1842zm0 0.7801v0.1841l-7.4217 7.4218c-0.01082-0.065-0.01082-0.1193-0.01082-0.1843zm0 1.571v0.1842l-7.3892 7.3892c-0.01082-0.054-0.01082-0.1084-0.01082-0.1625zm0 0.7909v0.1842l-7.3458 7.3459c0-0.054-0.01082-0.1084-0.01082-0.1626zm0 1.571v0.1843l-7.0533 7.0532c-0.06501-0.011-0.11918-0.011-0.18418-0.011zm-3.9871-13.142-0.95344 0.9535c0.0325-0.087 0.05419-0.1843 0.08668-0.271l0.71508-0.715c0.05419 0.011 0.10835 0.022 0.15168 0.033zm1.3002 0.2816-2.947 2.9471c0.02169-0.087 0.04331-0.1625 0.065-0.2492l2.7412-2.7411c0.04332 0.011 0.09751 0.022 0.14085 0.043v0zm0.62841 0.1517-3.8571 3.8572c0.02169-0.087 0.04331-0.1625 0.06501-0.2492l3.6404-3.6512c0.04331 0.022 0.09751 0.033 0.15168 0.043zm0.60673 0.1843-4.7347 4.7347c0.02169-0.076 0.0325-0.1517 0.05419-0.2276l4.5397-4.5397c0.04332 0 0.08668 0.022 0.14085 0.033zm0.58507 0.1949-5.5256 5.5257c0.02169-0.076 0.0325-0.1517 0.04331-0.2275l5.3523-5.3523c0.04332 0.022 0.08668 0.033 0.13002 0.054zm0.58507 0.2059-6.3166 6.3165c0.01082-0.076 0.0325-0.1516 0.04332-0.2275l6.1324-6.1324c0.05419 0.011 0.09752 0.022 0.14085 0.044zm0.2817 0.3142v0.1843l-6.7608 6.7607c0.01082-0.065 0.02169-0.1409 0.0325-0.2167zm0 0.791v0.1841l-6.9016 6.9017c0.01082-0.076 0.02169-0.1408 0.0325-0.2168zm0 0.7909v0.1842l-7.0425 7.0425c0.01082-0.076 0.02169-0.1409 0.0325-0.2167zm0 0.78v0.1843l-7.14 7.1399c0.01082-0.065 0.01082-0.1299 0.02169-0.2057zm0 0.791v0.1842l-7.2267 7.2266c0.01082-0.065 0.01082-0.1299 0.02169-0.2057zm0 0.7801v0.011l-7.2917 7.2917v-0.011zm0.35755-4.5613c-3.4237-1.3869-7.2483-1.8745-11.062-1.4086-5.569 0.6826-11.16 0.3684-16.631-0.9101l-3.8571-0.91v21.756l3.7379 0.8776c5.5148 1.3001 11.17 1.6143 16.804 0.9318 3.7163-0.4551 7.4542 0.022 10.802 1.3759l0.35754 0.1409v-21.788zm-0.35755 21.084c-0.14085-0.054-0.30336-0.1083-0.44422-0.1625-0.04332-0.022-0.09751-0.043-0.14085-0.043-0.14085-0.065-0.29254-0.1084-0.44422-0.1517-0.04332-0.022-0.08668-0.033-0.14085-0.044-0.15168-0.054-0.3142-0.098-0.46589-0.1407-0.04332-0.022-0.09751-0.033-0.14085-0.043-0.15168-0.044-0.31421-0.098-0.47672-0.1301-0.04331-0.022-0.08668-0.033-0.14085-0.043-0.16252-0.043-0.31421-0.087-0.47672-0.1192h-0.01082c-0.04332-0.011-0.09751-0.022-0.15168-0.033-0.16252-0.043-0.33588-0.076-0.49839-0.098-0.04332-0.022-0.09751-0.022-0.15168-0.033-0.16252-0.033-0.33587-0.065-0.50922-0.097-0.04332-0.011-0.09751-0.022-0.16252-0.022-0.17336-0.033-0.34671-0.054-0.52006-0.076-0.05419-0.011-0.10835-0.022-0.16252-0.022-0.17335-0.022-0.36838-0.054-0.54173-0.054h-0.01082c-0.05419-0.011-0.10834-0.022-0.15168-0.022-0.18419-0.022-0.36838-0.043-0.55256-0.043-0.05419-0.011-0.10835-0.011-0.16252-0.011h-0.01082c-0.19502-0.011-0.37922-0.022-0.57423-0.022-0.06501-0.011-0.11918-0.011-0.18419-0.011-0.01081-0.011-0.02169-0.011-0.02169 0-0.21669-0.011-0.44422-0.011-0.66091-0.011-0.92094 0-1.8635 0.054-2.7953 0.1625-0.50922 0.065-1.0076 0.1084-1.5168 0.1626h-0.04331c-0.21669 0.022-0.44422 0.043-0.65007 0.054-0.06501 0.011-0.13002 0.011-0.19502 0.011-0.21669 0.022-0.42255 0.033-0.63924 0.043-0.06501 0.011-0.13002 0.011-0.19502 0.011-0.20586 0.011-0.42255 0.022-0.6284 0.022-0.06501 0.011-0.11918 0.011-0.18419 0.011-0.20586 0.011-0.41171 0.022-0.61757 0.022h-0.01082c-0.05419 0-0.11918 0.011-0.18419 0h-0.01082c-0.20586 0.011-0.40088 0.011-0.60674 0.011-0.06501 0.011-0.13001 0.011-0.18418 0.011-0.19502 0.011-0.40088 0-0.5959-0.011-0.06501 0-0.10835 0-0.17335-0.011-0.19502 0.011-0.40088 0-0.5959-0.011-0.05419 0-0.11918 0-0.17335-0.011h-0.01082c-0.19502 0-0.37922-0.011-0.57423-0.022-0.06501 0.011-0.10834 0.011-0.17335-0.011-0.19502 0-0.39005-0.011-0.57423-0.022-0.05419 0-0.10835 0-0.16252-0.011-0.19502-0.011-0.37921-0.022-0.5634-0.043-0.05419 0-0.10835 0-0.16252-0.011-0.07584 0-0.15168-0.011-0.22752-0.011-2.3294-0.195-4.648-0.5634-6.945-1.0943l-3.3371-0.78v-20.694l3.2179 0.7477c1.7335 0.4117 3.4779 0.715 5.2439 0.9209 0.0325 0.011 0.06501 0.011 0.09752 0.011 0.05419 0.011 0.10835 0.022 0.16252 0.022 0.18419 0.022 0.36838 0.043 0.54173 0.054 0.05419 0.011 0.10835 0.011 0.16252 0.011 0.18419 0.022 0.36838 0.044 0.54173 0.065 0.05419 0.011 0.10835 0.011 0.16252 0.011 0.18419 0.011 0.37921 0.033 0.5634 0.043 0.05419 0.011 0.10835 0.011 0.17335 0.011 0.18419 0.011 0.36837 0.022 0.5634 0.043h0.01081c0.05419 0 0.10835 0.011 0.16252 0.011 0.01082 0 0.01082 0.011 0.02169 0 0.19502 0.011 0.39005 0.022 0.57423 0.022 0.05419 0.011 0.10835 0.011 0.17336 0.011 0.19502 0.011 0.39005 0.022 0.58507 0.022 0.05419 0.011 0.10834 0.011 0.17335 0.011 0.19502 0.011 0.40088 0.011 0.5959 0.011 0.05419 0.011 0.11918 0.011 0.18419 0 0.19502 0.011 0.40088 0.011 0.60673 0 0.05419 0.011 0.11918 0.011 0.18419 0 0.19502 0 0.40088 0 0.60673-0.011 0.05419 0 0.11918 0 0.18419-0.011h0.01082c0.20586 0 0.41172-0.011 0.61757-0.022h0.01082c0.05419 0 0.11918 0 0.18419-0.011h0.01082c0.20586 0 0.41171-0.011 0.6284-0.022 0.06501 0 0.13002-0.011 0.19502-0.011h0.01082c0.21669-0.011 0.43338-0.022 0.65008-0.043 0.06501 0 0.13002 0 0.19502-0.011 0.21669-0.011 0.43338-0.033 0.66091-0.054 0.06501-0.011 0.13002-0.011 0.19502-0.022 0.22752-0.022 0.45505-0.044 0.68258-0.076 0.06501 0 0.13002-0.011 0.19502-0.022 0.08668-0.011 0.17335-0.011 0.26003-0.022 0.09752-0.011 0.20586-0.022 0.30337-0.033 1.9286-0.2168 3.868-0.1733 5.7423 0.1191 0.15168 0.022 0.30337 0.044 0.45505 0.076 0.05419 0 0.10835 0.011 0.15168 0.022 0.17335 0.022 0.33588 0.065 0.50922 0.098 0.05419 0 0.10835 0.011 0.15168 0.033 0.17335 0.022 0.33588 0.065 0.49839 0.098 0.04332 0.011 0.08668 0.022 0.14085 0.043 0.16252 0.033 0.31421 0.076 0.47672 0.13 0.04332 0.011 0.09751 0.022 0.14085 0.033 0.15168 0.044 0.31421 0.087 0.46589 0.1409 0.04332 0.011 0.09751 0.022 0.14085 0.043 0.15168 0.043 0.30337 0.098 0.45506 0.1409 0.04332 0.011 0.08668 0.033 0.13001 0.044 0.15168 0.054 0.29254 0.1083 0.44422 0.1625 0.04332 0.011 0.09751 0.022 0.13002 0.043 0.09751 0.033 0.19502 0.065 0.2817 0.1084v20.662zm-35.505-28.256h3.1095v43.187h-3.1095z" fill="#8fbf4b" stroke-width=".10835"/></g><g id="biopama-blue" transform="translate(0,-1010)"><path class="st1" d="m32 1010.7c-16.566 0-29.99 13.424-29.99 29.99s31.204 38.68 31.204 38.68 28.777-22.124 28.777-38.68c0-16.566-13.424-29.99-29.99-29.99zm0 52.808c-13.576 0-24.584-11.008-24.584-24.584 0-13.576 11.008-24.584 24.584-24.584 13.576 0 24.584 11.008 24.584 24.584 0 13.576-11.008 24.584-24.584 24.584z" fill="#669a94" stroke-width=".10835"/></g></svg>
			</div>
		    <div class="scope-title">{{ nationalLabel }}</div>
			<i class="fa fa-chevron-right" aria-hidden="true"></i>
		  </div>
		  <div id="national-content-container" class="national-content scope-content">
			  <div class="menu-header">
				{{ nationalLabel }} {{ policiesLabel }}
			  </div>
{#
/**
{{ drupal_view('menu_level_1_policies_2', 'block_national') }}
**/
#}			  
			
		  </div>
		  <div class="scope-icon-title local-trigger">
			<div class="scope-image">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve"><style type="text/css">.bioc2{fill:#8FBF4B;} .bioc1{fill:#679B95;} </style>

<g id="biopama-color-2" class="bioc2">
	<g>
		<path d="M12.5,52.1v3.8l-2.7-0.2l-0.4,0.2l-0.7-1.2l-0.2,0.8l-0.9-1.7l-0.2,1.8l-1.3-1.8l0.5,2.4
			l-1.8-0.1l0,0.5l2.4,0.1l-0.1-0.6l0.6,0.9L8,55.4l0.8,1.5l0.2-0.8l0.2,0.4l0.7-0.3l2.6,0.2v0.2l0.9-0.6l0.8,0.4l0.6-0.8L15,56
			l0.9,1.6l0.2-0.8l0.4,0.8l1.3-1.7l0.8,0.6l0.1-0.5l0.3,0.5l1.6-2.1v1.9h0.5v-3.3l-2,2.7l-0.6-1l-0.2,1.1l-0.6-0.4l-1.2,1.5
			l-0.7-1.3l-0.2,0.9l0-0.1v-4.1h6.6l-4.4-9h3.1L17,35.3h2.1l-3-6.1h1.2L14,22.4l-3.3,6.8h1.2l-3,6.1h2.1l-3.8,7.8h3.1l-4.4,9H12.5z
			 M15.1,55.4l-0.4-0.5l-0.8,1l-0.7-0.4L13,55.7v-3.6h2.2V55.4z"></path>
		<path d="M42.2,40c0,1.8,1.5,3.3,3.3,3.3h2.8l4.9,2.9l0.1,0.5c-0.2-0.1-0.4-0.2-0.7-0.2h-2
			c-0.8,0-1.4,0.6-1.4,1.4c0,0.8,0.6,1.4,1.4,1.4h1.2l1.7,1.2l-0.3,2.9L53,53.2l-0.9,1.5l0-1L51.2,55l-0.6-0.8l-0.3,0.7l-0.6-2.2
			l-0.2,2.6l-0.9-0.7l-0.1,0.1c-0.4-0.5-0.9-0.9-1.2-0.9c-1.3,0-3.8,4.2-3.8,5.6s2.3,1.5,3.6,1.5s3.8,0.5,3.8-0.9
			c0-0.8-0.8-2.7-1.7-4.2l0.7,0.5l0.1-0.9l0.3,0.9l0.5-1.1l0.6,0.8l0.3-0.5l0,0.9l1.3-2.1l0.2,0.3l0,0.4l0.9-0.5l0.7,0.4l0.3-0.9
			l0.6,1l0.4-0.6l1.4,1.1l0.1-0.9l0.3,0.9l0.5-1.1l0.6,0.8l0.3-0.5l0,0.6l0.9-0.7l-0.1,0.4l0.5,0.1l0.6-1.9l-1.4,1.1L59.5,53
			l-0.8,1.3l-0.6-0.8l-0.3,0.7l-0.6-2.2l-0.2,2.6L56,53.9l-0.4-7.1l0-0.1l3.5-1.8h0.7c2.4,0,4.3-1.9,4.3-4.3c0-2.4-1.9-4.3-4.3-4.3
			h-0.1c0.1-0.2,0.2-0.5,0.2-0.8c0-1.1-0.9-1.9-1.9-1.9h-7.4c-1.1,0-1.9,0.9-1.9,1.9c0,0.5,0.2,1,0.5,1.3h-3.7
			C43.7,36.7,42.2,38.2,42.2,40z M50.1,43.4c0.2,0,0.4,0,0.6-0.1c0.6,0.7,1.5,1.2,2.5,1.4V45l-3.4-1.6H50.1z M53.5,49.3l-0.2-0.1
			c0.1,0,0.1-0.1,0.1-0.1L53.5,49.3z M55.5,53.9l-0.7-1.3l-0.5,1.4l-0.4-0.2L53.7,54l0.4-3.5l-1.4-1c0,0,0,0,0,0l1.4,0.7l-0.2-1.7
			c0-0.1,0.1-0.3,0.1-0.4c0-0.3-0.1-0.5-0.2-0.7L53.6,46l-2.1-1.2l2.1,1v-1c0.1,0,0.2,0,0.2,0h1.6l-0.2,1.2l-0.1,0.7L55.5,53.9
			L55.5,53.9z M55.8,45.6l0.1-0.8h1.6L55.8,45.6z"></path>
		<polygon points="5.2,27.7 10.8,22.5 10.8,22.5 12.8,12 20.4,4.6 27,16.1 34.7,24.4 34.8,24.5 
			44.3,14.8 48.8,8.2 59.7,20.2 62.8,32.3 62.8,32.3 69.9,38.4 70.1,38.2 63,32.2 59.9,20.1 48.7,7.8 44.2,14.6 34.8,24.2 27.2,16 
			20.5,4.4 20.5,4.2 12.6,11.9 12.6,11.9 10.6,22.4 5.1,27.6 -0.1,38.2 0.1,38.3 		"></polygon>
		<path d="M0,63.1c3.8,1.1,7.7,1.6,11.6,1.6c3.4,0,6.7-0.4,10-1.2l1.6-0.4c4.5-1.1,9.1-1.5,13.7-1
			l6.6,0.6c8.1,0.7,16.1-0.9,23.2-4.7l3.4-1.8L70,56.1l-3.4,1.8c-7.1,3.8-15.1,5.4-23.1,4.6l-6.6-0.6c-4.6-0.4-9.3-0.1-13.8,1
			l-1.6,0.4C14.4,65.1,7,64.9,0,62.9L0,63.1z"></path>
		<path d="M70,57.5l-3.4,1.8c-7.1,3.8-15.1,5.4-23.1,4.6l-6.6-0.6c-4.6-0.4-9.3-0.1-13.8,1l-1.6,0.4
			C14.4,66.5,7,66.4,0,64.4L0,64.6c3.8,1.1,7.7,1.6,11.6,1.6c3.4,0,6.7-0.4,10-1.2l1.6-0.4c4.5-1.1,9.1-1.5,13.7-1l6.6,0.6
			c8.1,0.7,16.1-0.9,23.2-4.7l3.4-1.8L70,57.5z"></path>
		<path d="M10.4,66.9l0,1c0.4,0,0.9,0,1.3,0l0-1C11.3,66.9,10.8,66.9,10.4,66.9z"></path>
		<path d="M7.8,67.9c0.4,0,0.9,0,1.3,0l0-1c-0.4,0-0.9,0-1.3,0L7.8,67.9z"></path>
		<path d="M15.6,66.5l0.1,1c0.4-0.1,0.9-0.1,1.3-0.2l-0.2-1C16.5,66.4,16,66.5,15.6,66.5z"></path>
		<path d="M18.2,66.1l0.2,1c0.4-0.1,0.9-0.2,1.3-0.3l-0.2-1C19,66,18.6,66.1,18.2,66.1z"></path>
		<path d="M13,66.8l0.1,1c0.4,0,0.9-0.1,1.3-0.1l-0.1-1C13.9,66.7,13.4,66.8,13,66.8z"></path>
		<path d="M-0.1,66.6c0.4,0.1,0.9,0.2,1.3,0.3l0.2-1c-0.4-0.1-0.8-0.2-1.3-0.3L-0.1,66.6z"></path>
		<path d="M21.5,65.4c-0.3,0.1-0.5,0.1-0.8,0.2l0.2,1c0.3-0.1,0.5-0.1,0.8-0.2l0.5-0.1l-0.2-1L21.5,65.4
			z"></path>
		<path d="M5.1,67.6c0.4,0.1,0.9,0.1,1.3,0.1l0.1-1c-0.4,0-0.9-0.1-1.3-0.1L5.1,67.6z"></path>
		<path d="M2.5,67.2c0.4,0.1,0.9,0.2,1.3,0.2l0.2-1c-0.4-0.1-0.9-0.1-1.3-0.2L2.5,67.2z"></path>
		
			<rect x="69.5" y="58.9" transform="matrix(0.8838 -0.4679 0.4679 0.8838 -19.6779 39.5468)" width="0.5" height="1"></rect>
		<path d="M57.3,64.1l0.2,1c0.4-0.1,0.9-0.2,1.3-0.3l-0.3-1C58.2,63.9,57.7,64,57.3,64.1z"></path>
		<path d="M52.2,65.1l0.1,1c0.4-0.1,0.9-0.1,1.3-0.2l-0.2-1C53.1,65,52.6,65,52.2,65.1z"></path>
		<path d="M23.3,65l0.2,1c0.4-0.1,0.8-0.2,1.3-0.3l-0.2-1C24.2,64.8,23.7,64.9,23.3,65z"></path>
		<path d="M49.6,65.3l0.1,1c0.4,0,0.9-0.1,1.3-0.1l-0.1-1C50.5,65.3,50,65.3,49.6,65.3z"></path>
		<path d="M64.7,61.5l0.4,0.9c0.4-0.2,0.8-0.4,1.2-0.6l-0.5-0.9C65.4,61.1,65,61.3,64.7,61.5z"></path>
		<path d="M59.8,63.4l0.3,1c0.4-0.1,0.8-0.3,1.3-0.4L61,63C60.6,63.1,60.2,63.3,59.8,63.4z"></path>
		<path d="M47.2,65.4l-0.2,0l0,1l0.2,0c0.4,0,0.8,0,1.1,0l0-1C47.9,65.4,47.6,65.4,47.2,65.4z"></path>
		
			<rect x="67.3" y="59.8" transform="matrix(-0.4686 -0.8834 0.8834 -0.4686 46.1774 148.6424)" width="1" height="1.3"></rect>
		<path d="M62.3,62.5l0.4,0.9c0.4-0.2,0.8-0.3,1.2-0.5L63.5,62C63.1,62.2,62.7,62.4,62.3,62.5z"></path>
		<path d="M54.8,64.7l0.2,1c0.4-0.1,0.9-0.2,1.3-0.3l-0.2-1C55.6,64.5,55.2,64.6,54.8,64.7z"></path>
		<path d="M33.8,65.4c0.4,0,0.9,0.1,1.3,0.1l0.1-1c-0.4,0-0.9-0.1-1.3-0.1L33.8,65.4z"></path>
		<path d="M28.6,64.3l0,1c0.4,0,0.9,0,1.3,0l0-1C29.5,64.2,29,64.3,28.6,64.3z"></path>
		<path d="M31.2,65.2c0.4,0,0.9,0,1.3,0l0-1c-0.4,0-0.9,0-1.3,0L31.2,65.2z"></path>
		<path d="M25.9,64.5l0.1,1c0.4-0.1,0.9-0.1,1.3-0.1l-0.1-1C26.8,64.4,26.4,64.4,25.9,64.5z"></path>
		
			<rect x="36.5" y="64.6" transform="matrix(-0.9959 -9.087016e-002 9.087016e-002 -0.9959 68.2563 133.3708)" width="1.3" height="1"></rect>
		
			<rect x="41.8" y="65.1" transform="matrix(-0.9958 -9.157193e-002 9.157193e-002 -0.9958 78.6339 134.833)" width="1.3" height="1"></rect>
		
			<rect x="39.1" y="64.9" transform="matrix(-0.9958 -9.120429e-002 9.120429e-002 -0.9958 73.4462 134.1004)" width="1.3" height="1"></rect>
		<path d="M44.3,66.3c0.4,0,0.9,0.1,1.3,0.1l0-1c-0.4,0-0.9,0-1.3-0.1L44.3,66.3z"></path>
		<polygon points="38.9,51.5 41.1,51.6 40.9,50.5 41.7,51.6 41.9,50 42.7,51.6 42.8,50.7 43.2,51.4 
			43.8,51.1 46.7,51.3 46.7,51.1 43.8,50.9 43.8,50.9 43.3,51.1 42.7,50.2 42.6,50.9 41.8,49.3 41.5,51 40.5,49.5 40.9,51.4 
			38.9,51.3 		"></polygon>
		<polygon points="22.7,46.8 23.6,46.9 23.4,45.7 24.2,46.9 24.4,45.3 25.1,46.7 25.7,45.7 25.6,46.7 
			25.9,46.6 25.9,46.6 26,46.7 26.7,46 25.8,46.3 26,44.6 25.1,46.3 24.2,44.6 24,46.3 23,44.8 23.3,46.6 22.7,46.6 		"></polygon>
		<path d="M30.9,52.6c0.8,0,2.4,0.2,2.4-0.6s-1.6-2.2-2.4-2.2s-1.7,1.5-1.7,2.2S30.1,52.6,30.9,52.6z"></path>
		<path d="M4.7,43.4c-0.9,0-1.7,2.6-1.7,3.5c0,0.9,0.8,0.9,1.7,0.9c0.9,0,1.7,0,1.7-0.9
			C6.4,45.9,5.6,43.4,4.7,43.4z"></path>
	</g>
</g>
<g id="biopama-color-1" class="bioc1">
	<path d="M34.8,2.7c-6.6,0-12,5.4-12,12s12,20.8,12,20.8s12-14.1,12-20.8S41.4,2.7,34.8,2.7z M34.8,20.7
		c-3.7,0-6.6-3-6.6-6.6c0-3.7,3-6.6,6.6-6.6c3.7,0,6.6,3,6.6,6.6C41.4,17.7,38.4,20.7,34.8,20.7z"></path>
</g>
</svg>
			</div>
		    <div class="scope-title">{{ localLabel }}</div>
			<i class="fa fa-chevron-right" aria-hidden="true"></i>
		  </div>
		  <div id="local-content-container" class="local-content scope-content">
			  <div class="menu-header">
				{{ localLabel }} {{ policiesLabel }}
			  </div>
{#
/**
{{ drupal_view('menu_level_1_policies_2', 'block_local') }}
**/
#}					  
			
		  </div>
		</div>
	  </div>
	  <div id="state-tab" style="display: none;" class="menu-tab">
{#
/**
{{ drupal_view('indicators_by_target_goal', 'indicator_state') }}
**/
#}	  
	  </div>
	  <div id="pressure-tab" style="display: none;" class="menu-tab">
{#
/**
{{ drupal_view('indicators_by_target_goal', 'indicator_pressure') }}
**/
#}	
	  </div>
	  <div id="list-tab" style="display: none;" class="menu-tab">
{#
/**
{{ drupal_view('indicators_by_target_goal', 'indicator_list') }}
**/
#}
		<div id="bread-search-results-wrapper" style="">
			<div class="search-text-wrapper">
				<div id="fac-menu-search-title">Search</div>
				<input class="form-control form-text search-text" type="text" id="biopama-search-filter5" size="30" maxlength="128" autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false" aria-autocomplete="list" aria-owns="fac-result-country_search-0" data-np-checked="1">
			</div>
			<div class="search-results">
				<div class="fac-result hidden" id="fac-result-country_search-0">
					<div class="announce visually-hidden" role="status" aria-live="polite"></div>
					<ul class="result-list hidden"></ul>
					<div class="empty-result">Search for a Country, Protected Area, or an Indicator.</div>
				</div>
			</div>
		</div>
	  </div>
	</div>
	<div class="biopama-tour" id="menu-tourtip" title="menu tour"><i class="fas fa-atom"></i></div>
</div>
