 {#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
{% set nodeid = node.id %}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
	<button type='button' class='close' aria-label='Close' onclick='closeIndicatorCard()'><i class='fas fa-times'></i></button>
	<div class="indicator-image-title">
		<div class="indicator-breadcrumbs"></div>
		<div class="indicator-image">{{content.field_indicator_image.0}}</div>
		<div class="indicator-title">{{ label }}<span class="indicator-for"> for</span> <span class="indicator-country">Country Name</span><div class='indicator-source'>{{content.field_source}}</div> </div>
			<div class="edit-menu-trigger">
				<div style="display: none;">{{ drupal_view('edit_indicator_card_link', 'block_1', nodeid) }}</div>
				<div class="edit-indi-menu">
				  <input type="checkbox" id="edit-indi-toggle" />
				  <label id="show-menu" for="edit-indi-toggle">
					<div class="indi-menu-btn">
					  <i class="fas fa-bars menuBtn md-36"></i>
					  <i class="fas fa-times closeBtn md-36"></i>
					</div>
					<div class="indi-menu-btn">
					  <a href="/node/{{ nodeid }}/edit/data_glo" class="edit-global-data indicator-card-edit-link use-ajax" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options="{&quot;width&quot;:400}"><img class="indi-edit-icon" src="/themes/custom/bootstrap_barrio_biopama/img/icons/global.png"></a>
					</div>
					<div class="indi-menu-btn">
					  <a href="/node/{{ nodeid }}/edit/data_regional" class="edit-regional-data indicator-card-edit-link use-ajax" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options="{&quot;width&quot;:400}"><img class="indi-edit-icon" src="/themes/custom/bootstrap_barrio_biopama/img/icons/region.png"></a>
					</div>
					<div class="indi-menu-btn">
					  <a href="/node/{{ nodeid }}/edit/data_country" class="edit-country-data indicator-card-edit-link use-ajax" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options="{&quot;width&quot;:400}"><img class="indi-edit-icon" src="/themes/custom/bootstrap_barrio_biopama/img/icons/country.png"></a>
					</div>
					<div class="indi-menu-btn">
					  <a href="/node/{{ nodeid }}/edit/data_local" class="edit-local-data indicator-card-edit-link use-ajax" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options="{&quot;width&quot;:400}"><img class="indi-edit-icon" src="/themes/custom/bootstrap_barrio_biopama/img/icons/local.png"></a>
					</div>
					<div class="indi-menu-btn">
					  <a href="/node/{{ nodeid }}/edit" class="edit-indicator indicator-card-edit-link use-ajax" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options="{&quot;width&quot;:400}"><i class="fas fa-wrench"></i></a>
					</div>
				  </label>
				</div>
			</div>
	</div>
	<div class='indicator-content-wrapper'>
		<div id="pa-card-tabs">
		  <ul class="indicator-card-tabs">
				{% if (content.field_indi_data_global|length > 3) or (content.field_indi_geonode_global.0|render == 'On') %}
					<li class="indi-tab indi-tab-global"><a href="#tabs-1">Global</a></li>
				{% else %}
					<li class="indi-tab indi-tab-global disable-scope"><a href="#tabs-1">Global</a></li>
				{% endif %}
				{% if (content.field_indi_data_regional|length > 3) or (content.field_indi_geonode_regional.0|render == 'On') %}
					<li class="indi-tab indi-tab-regional"><a href="#tabs-2">Regional</a></li>
				{% else %}
					<li class="indi-tab indi-tab-regional disable-scope"><a href="#tabs-2">Regional</a></li>
				{% endif %}
				{% if (content.field_indi_data_national|length > 3) or (content.field_indi_geonode_country.0|render == 'On') %}
					<li class="indi-tab indi-tab-national"><a href="#tabs-3">National</a></li>
				{% else %}
					<li class="indi-tab indi-tab-national disable-scope"><a href="#tabs-3">National</a></li>
				{% endif %}
				{% if (content.field_indi_data_local|length > 3) or (content.field_indi_geonode_pa.0|render == 'On') %}
					<li class="indi-tab indi-tab-local"><a href="#tabs-4">Local</a></li>
				{% else %}
					<li class="indi-tab indi-tab-local disable-scope"><a href="#tabs-4">Local</a></li>
				{% endif %}
				<li class="indi-tab indi-tab-help"><a href="#tabs-5"><i class="far fa-question-circle"></i></a></li>
		  </ul>
		  <div id="tabs-1">
			<div class='rest-error rest-error-global'></div>
			<div id='indicator-chart-global' class='indicator-chart'></div> 
			{% if node.field_indi_data_global.entity.body.value|length > 1 %}
				{{ node.field_indi_data_global.entity.body.value }}
			{% else %}
				{{ content.body }}
			{% endif %}
		  </div>
		  <div id="tabs-2">
			<div class='rest-error rest-error-regional'></div>
			<div id='indicator-chart-regional' class='indicator-chart'></div> 
			{% if node.field_indi_data_regional.entity.body.value|length > 1 %}
				{{ node.field_indi_data_regional.entity.body.value }}
			{% else %}
				{{ content.body }}
			{% endif %}
		  </div>
		  <div id="tabs-3">
			<div class='rest-error rest-error-national'></div>
			<div id='indicator-chart-national' class='indicator-chart'></div> 
			{% if node.field_indi_data_national.entity.body.value|length > 1 %}
				{{ node.field_indi_data_national.entity.body.value }}
			{% else %}
				{{ content.body }}
			{% endif %}
		  </div>
		  <div id="tabs-4">
			<div class='rest-error rest-error-local'></div>
			<div id='indicator-chart-local' class='indicator-chart'></div> 
			{% if node.field_indi_data_local.entity.body.value|length > 1 %}
				{{ node.field_indi_data_local.entity.body.value }}
			{% else %}
				{{ content.body }}
			{% endif %}
		  </div>
		  <div id="tabs-5">
		    <div class='indicator-help-wrapper'>
			  <div class='indicator-fact-sheet'>{{content.field_indicator_fact_sheet}}</div>
			  <div class='indicator-description'>
				{{ content.body }}
			  </div>
			  <div class="indicator-policies">
				<div class="indicator-policies-title">Related Policies</div>
				{{ drupal_view('indicator_policies_and_targets', 'block_1', nodeid) }}
			  </div>
			  <div class='indicator-source'>{{content.field_source}}</div> 
			</div>
		  </div>
		</div>
		{% if node.field_indicator_make_map_points.value == '1' %}
			<div class="indicator-make-points"> View as points <input class="form-control " type='checkbox' checked/></div>
		{% endif %}
	</div> 
	<div class='indicator-hidden-content hidden'>
		{{content.field_indi_get_data_from}}
		{{content.field_indi_geonode_layer}}
		{{content.field_indi_geonode_global}}
		{{content.field_indi_geonode_regional}}
		{{content.field_indi_geonode_country}}
		{{content.field_indi_geonode_pa}}
		{{content.field_indi_data_global}}
		{{content.field_indi_data_regional}}
		{{content.field_indi_data_national}}
		{{content.field_indi_data_local}}
		{{content.field_indi_map_layers_all}}
		{{content.field_indicator_make_map_points}}
		{{content.field_countries}}
		{{content.field_indicator_or_ranking}}
	</div>
  </div>
</article>
 {#
/**
	<div class='indicator-actions'>
		<button id="indicator-actions-btn" class="btn btn-danger indicator-action" onclick="openActionsMenu()">ACTIONS</button>
		<div id="actionsDropdown" class="dropdown-content">
      <div class="action-title">Analyse</div>
			<a href="#">Gap analysis</a>
			<a href="#">Land Cover Change analysis</a>
			<a href="#">Show recent imagery</a>
      <a href="#">Species Distribution Modelling</a>
      <hr>
      <div class="action-title">Contribute</div>
			<a href="#">Digitise features</a>
			<a href="#">Management effectiveness data</a>
			<a href="#">Photos</a>
      <a href="#">Protected area boundaries</a>
      <a href="#">Spatial data</a>
      <a href="#">Species observations</a>
      <hr>
      <div class="action-title">Fund</div>
      <a href="#">Show Action Fund Proposals</a>
			<a href="#">Show existing funded projects</a>
		</div>
	</div>
	 */
#}