<div class="region-image-container">
	<div class="region-summary-image-container">
		<div class="region-summary-image" style="background-image:url('{{content.field_region_image.0['#markup']}}');">
		</div>
	</div>
	<div class="container-fluid region-container">
		<div class="row">
			<div class="col-sm-12">
				<div class="region-title">{{ name.0 }}</div>
			</div>
{#/*			
			<div class="col-sm-3"><div class="region-info">chart</div></div>
			<div class="col-sm-3"><div class="region-info">chart</div></div>
			<div class="col-sm-3"><div class="region-info">chart</div></div>
 */#}
			<div class="col-sm-12">
				<div class="region-info">
					<h4>You might also be interested in other regions:</h4>
					{{ drupal_view('regions_list', 'region_list') }}
				</div>
			</div>
		</div>
	</div>
	<a href="/region/{{content.field_region_id.0}}" target="_blank" class="btn btn-success bread-page-link" role="button" aria-pressed="true">Go to Region Page</a>
</div>
<div class="hidden">
	<div class="views-field-field-region-id">{{content.field_region_id.0}}</div>
</div>
