{{ attach_library( 'bootstrap_barrio_biopama/biopama-nav-breadcrumbs' ) }}
<div class="region-we-mega-menu" {{ attributes }}>
	<a id="menu-toggle" class="navbar-toggle collapsed">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	</a>
	<nav {{ attributes }}>
	  <div class="container-fluid">
	  <a href="/"><img class="biopama-logo" src="/themes/custom/bootstrap_barrio_biopama/img/PEN_Biopama_Logo_no_text_sm.png"></a>
	    {{ content }} 
		<ul id="indicator-breadcrumbs">
			<li class="bread-trail bread-trail-region" style="display: none;">
				<div id="bread-parent-region" class="bread-parent-wrapper">
					<div class="bread-region-icon bread-icon">
						<svg width="32" height="30" version="1.1" viewBox="0 0 32 30" xmlns="http://www.w3.org/2000/svg">
							 <defs>
							  <style>.cls-1{fill:#fff;}.cls-2{fill:#8fbf4b;}.cls-3{clip-path:url(#clip-path);}.cls-4{fill:none;stroke:#8fbf4b;stroke-miterlimit:10;stroke-width:0.37px;}.cls-5{fill:#679b95;}</style>
							  <clipPath id="clip-path">
							   <path class="cls-1" d="m34.54 16.62h-7.7a2.75 2.75 0 0 0 0 3.9l0.48 0.48a2.58 2.58 0 0 0 3 0.46l0.2-0.11a15.82 15.82 0 0 1 5.89-1.72l1.41-0.13a0.78 0.78 0 0 0 0.48-1.33 5.22 5.22 0 0 0-3.76-1.55z" fill="#fff"/>
							  </clipPath>
							 </defs>
							 <g id="biopama-green">
							  <path d="m7.494 13.843-6.7731 14.452h30.558l-4.7678-14.452zm0.088808 0.17314h18.828l4.4876 14.005h-29.745zm21.471 8.2441-3.1212 1.0089c-0.88353 0.30913-1.7459 0.6742-2.5818 1.0929l-1.6838 0.84185c-1.3712 0.69944-3.0104 0.65482-4.3404-0.11816-1.4546-0.84054-3.2638-0.80632-4.6847 0.08862l-3.6519 2.2671c-0.32179 0.096-0.84454 0.46749-1.1738 0.57826l-6.6624 0.0013 1.9035-4.1508c1.9572 0.34293 3.8535 0.19245 5.768-0.33519l5.7249-1.5582c1.1601-0.31758 2.3583-0.47904 3.5621-0.48h1.0327c3.2077 0.04011 6.2334-1.2204 8.5839-3.3747zm-16.689-1.3542 4.071-1.7502c0.84518-0.36315 1.7363-0.61157 2.6492-0.73847l0.23947-0.03692c0.66477-0.09893 1.0269 0.74028 0.49391 1.1446-0.58326 0.45406-1.2157 0.8429-1.8858 1.1594-0.66787 0.32365-1.3708 0.57139-2.0954 0.73847l-3.0757 0.73847c-0.8481 0.26087-1.2447-0.99452-0.39662-1.2554zm14.338-5.9851c-1.2263 0.59488-2.5425 0.94463-3.9057 1.0373l-2.9335 0.25846c-1.5392 0.13546-3.0366 0.56696-4.4078 1.2702l-3.622 1.8536c-1.6913 0.86988-3.5707 1.3234-5.4779 1.3219l-1.8188-0.011719 3.0461-6.6345h18.828z" color="#000000" color-rendering="auto" dominant-baseline="auto" fill="#8fbf4b" image-rendering="auto" shape-rendering="auto" solid-color="#000000" style="font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;isolation:auto;mix-blend-mode:normal;shape-padding:0;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal"/>
							 </g>
							 <g id="biopama-blue">
							  <path class="cls-5" d="m16.009 1.7057a5.1486 5.0807 0 0 0-5.1412 5.0807c0 2.7988 5.1412 8.7656 5.1412 8.7656s5.1486-5.9668 5.1486-8.7656a5.1486 5.0807 0 0 0-5.1486-5.0807zm0 7.5767a2.8362 2.7988 0 1 1 2.8138-2.7988 2.8288 2.7914 0 0 1-2.8138 2.7988z" fill="#679b95" stroke-width=".74339"/>
							 </g>
						</svg>

					</div>
					<div class="bread-item-wrapper">
						<div id="bread-region" class="bread-selected">NA</div>
					</div>
					<div class="bread-region-menu bread-menu-icon">
						<i class="fas fa-chevron-down"></i>
					</div>
				</div>
				<div class="arrow-up"></div>
			</li>
			<li class="bread-trail bread-trail-country" style="display: none;">
				<div id="bread-parent-country" class="bread-parent-wrapper">
					<div class="bread-country-icon bread-icon">
						<svg width="30" height="30" version="1.1" viewBox="0 0 30 30" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><g transform="translate(0,-20)"><g transform="matrix(.59569 0 0 .59569 .85255 20.865)" fill="#8fbf4b" stroke-width=".077819"><path d="m12.341 6.6898h2.2333v31.018h-2.2333z"/><path d="m38.098 11.841c-2.459-0.9961-5.2059-1.3463-7.945-1.0117-3.9998 0.49026-8.0154 0.26459-11.945-0.65365l-2.7703-0.65358v15.626l2.6846 0.63031c3.9609 0.93376 8.0225 1.1594 12.069 0.66924 2.6691-0.32686 5.3538 0.0158 7.7582 0.9882l0.25679 0.1012v-15.649z"/></g></g><g transform="translate(0,-20)"><g id="biopama-blue" transform="matrix(.42784 0 0 .42784 1.3089 -412.14)"><path class="st1" d="m32 1010.7c-16.566 0-29.99 13.424-29.99 29.99s31.204 38.68 31.204 38.68 28.777-22.124 28.777-38.68c0-16.566-13.424-29.99-29.99-29.99zm0 52.808c-13.576 0-24.584-11.008-24.584-24.584s11.008-24.584 24.584-24.584 24.584 11.008 24.584 24.584-11.008 24.584-24.584 24.584z" fill="#669a94" stroke-width=".10835"/></g></g></svg>
					</div>
					<div class="bread-item-wrapper">
						<div id="bread-country" class="bread-selected">NA</div>
					</div>
					<div class="bread-country-menu bread-menu-icon"><i class="fas fa-chevron-down"></i></div>
				</div>
				<div class="bread-country-menu-content bread-menu-content">
					<input class="country-search bread-search" placeholder="country search">
					<div class="country-search-results"></div>
					{{ drupal_menu('breadcrumb-country-menu') }}
				</div>
			</li>
			<li class="bread-trail bread-trail-pa" style="display: none;">
				<div id="bread-parent-pa" class="bread-parent-wrapper">
					<div class="bread-pa-icon bread-icon">
					<svg width="30" height="30" version="1.1" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
					 <defs><style>.cls-1,.cls-5,.cls-7{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#8fbf4b;}.cls-4{fill:#bcbec0;}.cls-5{stroke:#8fbf4b;stroke-width:0.32px;}.cls-5,.cls-6,.cls-7{stroke-miterlimit:10;}.cls-6{fill:#fff;}.cls-6,.cls-7{stroke:#679b95;stroke-width:0.28px;}.cls-8{fill:#679b95;}</style><clipPath id="clip-path"><circle class="cls-1" cx="19.12" cy="29.56" r="17.18" fill="none"/></clipPath></defs>
					 <g id="biopama-green">
					  <path d="m17.332 4.1504v0.11719l6.1855 3.7109 0.43945 4.0781-4.75-2.3711 4.75 3.2871-0.43945 4.3691c3.0882-0.74649 2.7358-5.688 1.3711-9.1582-0.089664-0.050694-0.17776-0.097671-0.27539-0.19141-0.15226-0.14618-0.3028-0.29991-0.41211-0.48047-0.13491-0.22286-0.20138-0.45966-0.23828-0.70312-0.557-0.81357-0.44531-1.2408-0.44531 0.27344zm7.7891 4.5195c1e-6 3.1e-6 7e-6 0 1e-5 0z" fill="none" stroke="#8fbf4b" stroke-miterlimit="10" stroke-width=".2062px"/>
					  <path d="m15.592 3.1905h3.1123c0.44979 0 0.8119 0.36211 0.8119 0.8119v0.00644c0 0.44979-0.36211 0.8119-0.8119 0.8119h-3.1123c-0.44979 0-0.8119-0.36211-0.8119-0.8119v-0.00644c0-0.44979 0.36211-0.8119 0.8119-0.8119zm4.7515-1.0753c-0.18052 0.31816-0.29297 0.6828-0.29297 1.0762 0 1.2102 0.97539 2.1836 2.1855 2.1836h1.5996c-2.7223-2.7939-2.4842-2.434-3.4922-3.2598zm3.0002 5.3732h0.82479c0.33199 0 0.59926 0.26727 0.59926 0.59926 0 0.33199-0.26727 0.59926-0.59926 0.59926h-0.82479c-0.33199 0-0.59926-0.26727-0.59926-0.59926 0-0.33199 0.26727-0.59926 0.59926-0.59926zm-5.6575 0.86345h1.9395c0.77464 0 1.3983 0.62363 1.3983 1.3983v0.00644c0 0.77465-0.62363 1.3983-1.3983 1.3983h-1.9395c-0.77464 0-1.3983-0.62363-1.3983-1.3983v-0.00644c0-0.77465 0.62363-1.3983 1.3983-1.3983zm3.8527-4.8402c0.07552 1.7894 1.602 3.2331 2.9395 3.2734-0.02097-0.094915-2.5198-2.8842-2.9394-3.2734z" fill="#8fbf4b" stroke-width=".64437"/>
					 </g>
					 <g id="biopama-blue"> 
					  <polygon class="cls-6" transform="matrix(.64437 0 0 .64437 2.8144 -6.6038)" points="14.18 39.65 14.81 39.77 15.99 40.68 16.43 41.98 17.9 42.51 17.96 41.94 17.8 41.35 17.63 40.59 16.81 39.69 16.26 39.06 17.56 38.77 17.46 39.98 18.01 40.89 18.78 40.57 18.95 39.5 19.14 38.68 18.93 37.72 20.72 34.44 20.55 33.6 20.02 33.13 20.4 31.77 20.21 31.16 20.51 30.76 21.09 28.93 22.46 28.93 22.91 27.25 24.27 26.39 24.37 25.38 25.07 25.36 25.13 24.48 26.07 24.52 26.47 23.22 28.17 21.29 30.03 20.98 30.81 19.71 30.58 19.58 30.02 20.13 29.51 20.27 30.58 18.3 30.13 17.99 28.17 18.99 27.7 20.18 26.41 21.38 24.54 22.5 23.64 22.86 22.02 24.5 21.45 24.61 20.65 25.28 19.9 25.89 19.39 25 18.15 24.42 17.65 24.61 17.06 24.65 16.22 24.9 15.84 25.74 15.46 25.68 13.89 26.2 14.22 26.22 12.44 27.97 9.31 33.58 9.31 37.34 10.61 39.02 10.61 39.52 11.18 40.17 11.64 41.35 12.63 41.56 14.18 41.54 14.27 41.03 13.66 40.38 13.13 39.94 13.93 40.15 13.91 39.88 13.07 39.06 12.5 38.91 12.38 38.37 12.16 36.31 13.15 37.99" fill="#fff" stroke="#679b95" stroke-miterlimit="10" stroke-width=".28px"/>
					  <path d="m21.082 6.8119 0.16109-0.25775-0.48328 0.15465 0.13532-0.30285-0.54771 0.23842-0.56704 0.52194-1.205 0.72813-0.57993 0.23197-1.0439 1.0568-0.36085 0.07088-0.51549 0.43173-0.48972 0.39306-0.32218-0.57349-0.79902-0.37373-0.32863 0.12243h-0.38018l-0.53482 0.16109-0.24486 0.54127-0.24486-0.038662-1.0181 0.33507h0.21908l-1.1534 1.1856-2.0169 3.5956v2.4228l0.84412 1.0696v0.32218l0.057993 0.07088 0.2062 0.07088 0.032218-0.2062 0.32218 0.37373-0.03866-0.46394 0.33507 0.09021v-0.2062h0.25775l0.03866-0.10954-0.08377-0.34796-0.13532-1.3274 0.64437 1.0825 0.48328 0.77968 0.4575 0.12887v-0.25775l0.7088 0.19975-0.05799-0.32218 0.4124 0.14176-0.2513-0.21908 0.34151-0.14176 0.51549-0.44461 0.3093-0.12243 0.03222 0.1482 0.3544-0.07088 0.14176 0.12887 0.27708-0.14176 1.147-2.1135-0.10954-0.54127-0.30285-0.28352 0.24486-0.87634-0.12243-0.39306 0.18687-0.25775 0.33507-1.1792h0.88278l0.28997-1.0825 0.8699-0.55416 0.07088-0.64437h0.44461l0.038659-0.56704h0.61215l0.25775-0.83768 1.1534-1.2372 0.36729-0.3093zm-6.0248 3.4602 0.07732 0.43817-0.12887 0.90856-0.17398 0.19331-0.14176-0.09665v0.27708l-0.23197 0.53482-0.30285 0.19975-0.38662-0.17398-0.23197-0.3093v-0.43173l-0.15465 0.04511-0.19975-0.64437 0.09665-0.90211 0.28996-0.38662v0.19331l0.32218-0.19331 0.22553-0.18687 0.34152 0.18042 0.70236 0.23842h-0.26419z" fill="#679b95" stroke-width=".64437"/>
					  <path class="cls-8" d="m15.135 0.84504a12.327 12.327 0 0 0-12.32 12.327c0 6.8045 12.823 15.89 12.823 15.89s11.824-9.0856 11.824-15.89a12.333 12.333 0 0 0-12.327-12.327zm0 21.702a10.104 10.104 0 1 1 10.104-10.104 10.104 10.104 0 0 1-10.104 10.104z" fill="#679b95" stroke-width=".64437"/>
					  <path d="m13.84 10.897c1e-6 0.04626-0.03751 0.08377-0.08377 0.08377-0.04626 1e-6 -0.08377-0.0375-0.08377-0.08377-1e-6 -0.04626 0.0375-0.08377 0.08377-0.08377 0.04626-1e-6 0.08377 0.03751 0.08377 0.08377zm0.8119-0.01289c-2e-6 0.0427-0.03462 0.07732-0.07732 0.07732-0.0427-2e-6 -0.07732-0.03462-0.07732-0.07732 2e-6 -0.0427 0.03462-0.07732 0.07732-0.07732 0.0427 2e-6 0.07732 0.03462 0.07732 0.07732zm-0.62504-0.12243-0.11599-0.14176-0.36729 0.09666m0.79257 0.0451 0.18042-0.14176 0.33507 0.10954m-0.85056 0.82479 0.11599 0.08377h0.09021l0.10954-0.08377m0.03222 0.67014-0.1482 0.10954h-0.1482l-0.1482-0.09021h0.2062zm-4.6394 6.7079 0.2062 0.07088 0.038662-0.21908 0.32863 0.37373-0.04511-0.46394 0.34151 0.09021v-0.2062h0.25775l0.03222-0.10954m4.1433-0.7668-0.27063 0.14176-0.14176-0.12887-0.36084 0.07088-0.03222-0.1482-0.30285 0.12243-0.51549 0.44461-0.34152 0.14176m-1.2758 0.3093 0.4575 0.12887v-0.23842l0.71525 0.19975-0.06444-0.32218 0.4124 0.14176-0.49616-0.43173m7.552-11.489 0.59282-0.23842-0.13532 0.30285 0.48328-0.1482-0.15465 0.2513h0.26419l-0.43172 0.30285m-6.2181 4.8779v-0.27708l0.14176 0.09665 0.17398-0.19331 0.12887-0.90211-0.07088-0.44461-0.19331-0.16109 0.26419 0.02577-0.70236-0.23842-0.33507-0.18042-0.22553 0.19331-0.32218 0.18687v-0.18686l-0.29641 0.38018-0.09021 0.90211 0.19331 0.6637 0.15465-0.04511-0.01933 0.43173 0.23842 0.3093 0.42528 0.17398 0.30285-0.19975z" fill="#fff" stroke="#679b95" stroke-miterlimit="10" stroke-width=".18042px"/>
					 </g>
					</svg>
					</div>
					<div class="bread-item-wrapper">
						<div id="bread-pa" class="bread-selected">NA</div>
					</div>
					<div class="bread-pa-menu bread-menu-icon"><i class="fas fa-chevron-down"></i></div>
				</div>
				<div class="bread-pa-menu-content bread-menu-content">
					<input placeholder="indicator search" class="pa-search bread-search">
					<div class="pa-search-results"></div>
					{{ drupal_menu('breadcrumb-pa-menu') }}
				</div>
			</li>
			<li class="bread-trail bread-trail-indicator" style="display: none;">
				<div id="bread-parent-indicator" class="bread-parent-wrapper">
					<div class="bread-indicator-icon bread-icon">
						<svg width="30" height="30" version="1.1" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
						 <defs><style>.cls-1{fill:none;stroke:#679b95;stroke-miterlimit:10;stroke-width:0.71px;}.cls-2{fill:#8fbf4b;}</style></defs>
						 <path d="m20.505 15.201h2.5757v14.067h-2.5757zm3.1529-11.076h2.5757v25.144h-2.5757zm-6.1989 7.8422h2.5757v17.301h-2.5757zm-16.235 1.3115h6.6585l2.1269 2.0571-2.1269 1.7876h-6.6585z" fill="#8fbf4b" stroke-width=".97984"/>
						 <path d="m28.702 29.268h-11.244m-6.4661-28.198h5.4828v28.198h-5.4828m5.4828-2.0122h-2.6399m2.6399-2.0122h-5.4828m5.4828-2.0122h-2.6399m2.6399-2.0212h-5.4828m5.4828-2.0122h-2.6399m2.6399-2.0122h-5.4828m5.4828-2.0122h-2.6399m2.6399-2.0122h-5.4828m5.4828-2.0122h-2.6399m2.6399-2.0212h-5.4828m5.4828-2.0122h-2.6399m2.6399-2.0122h-5.4828m5.4828-2.0122h-2.6399m-9.0953 14.032v12.208m0-28.252v12.199" fill="none" stroke="#679b95" stroke-miterlimit="10" stroke-width=".69569px"/>
						</svg>
					</div>
					<div class="bread-item-wrapper">
						<div id="bread-indicator" class="bread-selected">NA</div>
					</div>
					<div class="bread-indicator-menu bread-menu-icon"><i class="fas fa-chevron-down"></i></div>
				</div>
				<div class="bread-indicator-menu-content bread-menu-content"><input placeholder="indicator search" class="indicator-search bread-search"></div>
			</li>
		</ul>
		<div class="toolbar-icons-right">
			{%if is_front %}
			<div class="tour-wrapper">
				<div class="tour-toggle checkbox">
					<input type="checkbox" class="tour-toggle-trigger" checked data-toggle="toggle" data-onstyle="info" data-size="small">
				</div>
				<div class="tour-label">
				Tours
				</div>
			</div>
			<div class="search-wrapper toolbar-wrapper">
				<div class="search-icon-wrapper toolbar-icon-wrapper">
					<a href="#" data-toggle="tooltip" title="Open the Search Tool">
						<i class="fas fa-search"></i>
					</a>
				</div>
			</div>
			{% endif %}
			{% if not is_front %}
			<div class="toolbar-wrapper">
				<a href="/">
					<div class="toolbar-icon-wrapper">
						<i class="fas fa-home"></i>
					</div>
				</a>
			</div>
			{% endif %}
			<div class="toolbar-wrapper">
			  <div class="toolbar-icon-wrapper">
				<a class="use-ajax" data-dialog-type="modal" href="/node/18218" data-dialog-options="{&quot;width&quot;:800}" data-toggle="tooltip" title="Help Me :)">
				  <div class="help-icon-wrapper">
					<i class="fas fa-question"></i>
				  </div>
				</a>
			</div>
		  </div>
			<div class="toolbar-wrapper">
			  <div class="toolbar-icon-wrapper">
				<a href="http://geonode-rris.biopama.org" target="_blank" id="biopama-geonode-link" data-toggle="tooltip" title="BIOPAMA GeoNode Catalogue">
				  <img src="/themes/custom/bootstrap_barrio_biopama/img/geonode.png"/>
				</div></a>
			</div>
			<div class="toolbar-wrapper">
			  <div class="toolbar-icon-wrapper">
				<a class="use-ajax" data-dialog-type="modal" href="/node/18261" data-dialog-options="{&quot;width&quot;:800}" data-toggle="tooltip" title="BIOPAMA Yammer Community">
				  <img src="/themes/custom/bootstrap_barrio_biopama/img/yammer-trans.png"/>
				</div></a>
			</div>
			<div class="toolbar-wrapper">
			  <div class="toolbar-icon-wrapper">
				<a class="use-ajax" data-dialog-type="modal" href="/contact" data-dialog-options="{&quot;width&quot;:800}" data-toggle="tooltip" title="Contact Us">
				  <div class="help-icon-wrapper">
					<i class="far fa-comment"></i>
				  </div>
				</div></a>
			</div>
		</div>
		{{ drupal_block("superfish:account") }}
	</div>
	</nav>
</div>
<div id="bread-content-wrapper" style="display: none;">
</div>
<div id="bread-search-results-wrapper" style="display: none;">
	<div class="search-text-wrapper">
		<input class="form-control form-text search-text" type="text" id="biopama-search-filter" size="30" maxlength="128">
	</div>
	<div class="search-results">
	</div>
</div>
{#
/*
<a href="/" class="region-menu-link use-ajax" data-dialog-type="modal" data-dialog-options="{&quot;width&quot;:800}"><i class="fas fa-chevron-down"></i></a>
*/
#}
